Django==1.9.13
Markdown==2.6.6
django-config-models==0.1.5
django-language-field==0.0.3
goodreads==0.3.2
-e git+https://github.com/dellsystem/merriam-webster-api#egg=merriam_webster
-e git+https://github.com/alvarolopez/translate-term.git#egg=translate-term
