{% extends "base.html" %}

{% block title %}Add note{% endblock %}

{% block breadcrumbs %}
<a class="section" href="{% url 'view_book' book.slug %}">View book</a>
<i class="right angle icon divider"></i>
<div class="active section">Add note</div>
{% endblock %}

{% block content %}
<div class="ui grid">
    <div class="thirteen wide column">
        {% include 'book_header.html' with book=book only %}
    </div>
    <div class="three wide center aligned column">
        {% if not book.is_processed and not book.is_publication %}
        <form method="post" action="{% url 'mark_complete' book.id %}">
            {% csrf_token %}
            <button class="ui fluid black icon button keyboard-shortcut"
                    name="mode"
                    data-shortcut="p" data-label="Mark as processed"
                    value="processed"
                    type="submit">
               <i class="check icon"></i> Mark as processed
            </button>
        </form>
        {% endif %}
    </div>
</div>

<div class="ui divider"></div>
{% with num_notes=book.notes.count %}
{% if num_notes %}
<h3>
    Recent notes ({{ num_notes }} total) ::
    <a href="{% url 'view_notes' book.slug %}">View all &raquo;</a>
</h3>
<div class="ui celled two column grid">
    <div class="column">
        {% include 'note_snippets.html' with notes=recent_notes_1 show_page=book.has_pages only %}
    </div>
    <div class="column">
        {% include 'note_snippets.html' with notes=recent_notes_2 show_page=book.has_pages only %}
    </div>
</div>
{% else %}
<div class="ui warning message">
    <div class="header">
        No notes yet!
    </div>
</div>
{% endif %}
{% endwith %}

{% include "note_form.html" %}
{% endblock %}
