{% load highlight_filter %}

<h2 class="ui header">
    <div class="content">
        <a href="{{ book.get_absolute_url }}" class="keyboard-shortcut" data-shortcut="v" data-label="View this book">
            {% if highlight %}
            {{ book.title|highlight_term:highlight }}
            {% else %}
            {{ book.title }}
            {% endif %}
        </a>
        {% if book.details %}
        <div class="sub header">
            {% include 'author_list.html' with authors=book.details.authors is_edited=book.details.is_edited only %}
            <div class="ui rating display-rating"
                 data-rating="{{ book.details.rating }}">
            </div>
        </div>
        {% endif %}
    </div>
</h2>
