{% if details %}
    {% if not details.completed_read %}
        {% if details.due_date %}
        <span class="ui black label">Due in {{ details.due_date|timeuntil }}</span>
        {% endif %}
        {% if details.location %}
        <span title="Location" class="ui basic label">{{ details.location }}</span>
        {% endif %}
    <br />
    {% endif %}
    <p>
    {% if details.publisher %}
    {{ details.publisher }},
    {% elif admin and not details.verified %}
    <span class="ui red label">Publisher?</span>,
    {% endif %}
    {% if details.year %}
    {{ details.year }}.
    {% elif admin and not details.verified %}
    <span class="ui red label">Year?</span>.
    {% endif %}
    {% if details.num_pages %}
    {{ details.num_pages }} pages.
    {% elif admin and not details.verified %}
    <span class="ui red label">Pages?</span>.
    {% endif %}
    {% if details.format %}
    {{ details.format }}.
    {% elif admin and not details.format %}
    <span class="ui red label">Format?</span>.
    {% endif %}
    {% if details.isbn %}
    <code title="ISBN">{{ details.isbn }}</code>
    {% elif not details.verified %}
    <span class="ui red label">ISBN?</span>
    {% endif %}

    {% if admin %}
        <br />
        {% if not details.verified %}
        <span class="ui red label">Unverified</span>
        {% endif %}
        {% if details.goals.count %}
        <br />
        {% for goal in details.goals.all %}

        <span class="ui tag teal label">{{ goal.name }}</span>
        {% endfor %}
        {% endif %}
    {% endif %}
    </p>
{% endif %}
