{% extends "base.html" %}

{% block title %}Edit book{% endblock %}

{% block breadcrumbs %}
<a class="section" href="{{ book.get_absolute_url }}">View book</a>
<i class="right angle icon divider"></i>
<div class="active section">Edit book</div>
{% endblock %}

{% block content %}
<div class="ui grid">
    <div class="thirteen wide column">
        {% include 'book_header.html' with book=book only %}
    </div>
    <div class="three wide center aligned column">
        <a href="{% url 'admin:books_book_change' book.pk %}"
           class="ui blue icon button">
           <i class="edit icon"></i>
           Edit
        </a>
        {% if book.details %}
        <a href="{% url 'admin:books_bookdetails_delete' book.details.pk %}"
           class="ui red icon button">
           <i class="edit icon"></i>
           Delete
        </a>
        {% else %}
        <a href="{% url 'admin:books_book_delete' book.pk %}"
           class="ui red icon button">
           <i class="edit icon"></i>
           Delete
        </a>
        {% endif %}
    </div>
</div>

<div class="ui divider"></div>

{% include 'book_form.html' %}
{% endblock %}
