{% load markdown_filter %}
{% load highlight_filter %}

<div class="ui segments no-top-margin">
    <div class="ui segment">
        <i class="quote left icon left-floated"></i>
        {% if highlight %}
        {{ note.quote|markdownify|highlight_term:highlight }}
        {% else %}
        {% if truncate %}
        {{ note.quote|truncatechars:300|markdownify }}
        {% else %}
        {{ note.quote|markdownify }}
        {% endif %}
        {% endif %}
    </div>
    {% if note.comment and not truncate %}
    <div class="ui secondary segment">
        {% if note.hide_comment and not request.user.is_staff %}
        <p>You must be logged in to see this comment.</p>
        {% else %}
            {% if highlight %}
            {{ note.comment|markdownify|highlight_term:highlight }}
            {% else %}
            {{ note.comment|markdownify }}
            {% endif %}
        {% endif %}
    </div>
    {% endif %}
</div>

{% if note.book.has_pages %}
    &mdash;p.{{ note.get_page_display }}
    <i class="ellipsis vertical icon"></i>
{% endif %}
{% if show_book %}
    <i class="book icon"></i>
    <a href="{{ note.book.get_absolute_url }}">
        {{ note.book.title }}
    </a>
    <i class="ellipsis vertical icon"></i>
{% endif %}
{% if not hide_section and note.section %}
    {% include "section_link.html" with section=note.section only %}
    <i class="ellipsis vertical icon"></i>
{% endif %}
{% if note.authors.count %}
    {% if note.has_default_authors %}
    {% include 'author_list.html' with authors=note.authors %}
    {% else %}
    <strong>
    {% include 'author_list.html' with authors=note.authors %}
    </strong>
    {% endif %}
{% else %}
<span class="ui red label">missing author</span>
{% endif %}
{% if not truncate %}
<i class="ellipsis vertical icon"></i>
<span title="{{ note.added }}">{{ note.added|timesince }} ago</a>
{% endif %}
