{% if note_form.errors %}
<div class="ui error message">
    {{ note_form.errors|safe }}
</div>
{% endif %}
<div class="ui segment">
    <form class="ui form" method="post" autocomplete="off">
        {% csrf_token %}
        {% if not book.has_pages %}
            <input type="hidden" name="note-page_number" value="1" />
        {% endif %}

        <div class="ui stackable grid">
            <div class="row">
                <div class="{% if book.has_pages %}eight{% else %}nine{% endif %} wide column">
                    {% with error=note_form.subject.errors %}
                    <div class="{% if error %}error{% endif %} field">
                        <label>Subject{% if error %} (REQUIRED){% endif %}
                            (<a href="#" onclick="reformatSubject('id_note-subject'); return false">reformat</a>)
                        </label>
                        {{ note_form.subject }}
                    </div>
                    {% endwith %}
                </div>
                {% if book.has_pages %}
                <div class="one wide collapsed column">
                    {% with error=note_form.page_number.errors %}
                    <div class="{% if error %}error{% endif %} field"
                         {% if error %}title="{{ error|join:"/" }}"{% endif %}>
                        <label>Page</label>
                        {{ note_form.page_number }}
                    </div>
                    {% endwith %}
                </div>
                {% endif %}
                <div class="five wide column">
                    <div class="field">
                        <label>Author(s)</label>
                        {{ author_form.authors }}
                    </div>
                </div>
                {% with error=author_form.is_custom.errors %}
                <div class="two wide column">
                    <div class="{% if error %}error{% endif %} field"
                     {% if error %}title="{{ error|join:"/" }}"{% endif %}>
                        <label title="If false, the book's default authors will be inherited.">Custom author?</label>
                        <div class="ui toggle checkbox">
                            {{ author_form.is_custom }}
                        </div>
                    </div>
                </div>
                {% endwith %}
            </div>
            <div class="two column row">
                <div class="column">
                    <div class="field">
                        <label>Quote
                            (<a href="#" onclick="reformatQuote('id_note-quote'); return false">reformat</a>)
                            (<a href="#" onclick="fixOcr('id_note-quote'); return false">fix OCR</a>)
                        </label>
                        {{ note_form.quote }}
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label>Comment</label>
                        {{ note_form.comment }}
                    </div>
                    <div class="field">
                        <label>Hide comment when logged out?</label>
                            <div class="ui toggle checkbox">
                                {{ note_form.hide_comment }}
                            </div>
                    </div>
                </div>
            </div>
            <div class="sixteen wide column">
                <div class="field">
                    <label>Tags</label>
                    {{ note_form.tags }}
                </div>
                {% if book.sections.count %}
                {% with error=note_form.section.errors %}
                <div class="{% if error %}error{% endif %} field"
                     {% if error %}title="{{ error|join:"/" }}"{% endif %}>
                    <label>Section{% if book.has_pages %} (only set this if there is ambiguity){% endif %}</label>
                    {{ note_form.section }}
                </div>
                {% endwith %}
            {% endif %}
            </div>
        </div>
        <div class="ui basic center aligned segment">
            <button type="submit" name="submit" value=""
                    class="ui blue button keyboard-shortcut"
                    data-label="Save note"
                    data-shortcut="s">
                Submit
            </button>
            {% if show_delete %}
            <button type="submit" name="submit" value="delete"
                    class="ui red icon button">
                <i class="x icon"></i>
                Delete
            </button>
            {% endif %}
        </div>
    </form>
</div>
