<div class="ui center aligned basic segment">
    <div class="ui right pagination menu">
        {% if items.has_previous %}
        <a class="item keyboard-shortcut"
           title="First"
           href="{% if qs %}{{ qs }}&{% else %}?{% endif %}page=1"
           data-shortcut="^" data-label="First page">
        {% else %}
        <a class="disabled item">
        {% endif %}
        <i class="double left angle icon"></i></a>

        {% if items.has_previous %}
        <a class="item keyboard-shortcut"
           title="Previous"
           href="{% if qs %}{{ qs }}&{% else %}?{% endif %}page={{ items.previous_page_number }}"
           data-shortcut="<"
           data-label="Previous page">
        {% else %}
        <a class="disabled item">
        {% endif %}
        <i class="left angle icon"></i></a>

        <a class="active item">
            {{ items.number }} of {{ items.paginator.num_pages }}
        </a>

        {% if items.has_next %}
        <a class="item keyboard-shortcut"
           title="Next"
           href="{% if qs %}{{ qs }}&{% else %}?{% endif %}page={{ items.next_page_number }}"
           data-shortcut=">"
           data-label="Next page">
        {% else %}
        <a class="disabled item">
        {% endif %}
        <i class="angle right icon"></i></a>

        {% if items.has_next %}
        <a class="item keyboard-shortcut"
           title="Last"
           href="{% if qs %}{{ qs }}&{% else %}?{% endif %}page={{ items.paginator.num_pages }}"
           data-shortcut="$" data-label="Last page">
        {% else %}
        <a class="disabled item">
        {% endif %}
        <i class="angle double right icon"></i></a>
    </div>
</div>
