{% if author %}
<div class="ui center aligned success message">
    <h3 class="header">
        Showing results by
        <a href="{{ author.get_absolute_url }}">
            {{ author }}
        </a>
        only
    </h3>
</div>
{% endif %}

<div class="ui center aligned basic segment">
    <div class="ui right pagination menu">
        {% if items.has_previous %}
        <a class="item keyboard-shortcut"
           title="First"
           href="?page=1{% if mode %}&mode={{ mode }}{% endif %}{% if author %}&author={{ author.pk }}{% endif %}{% if flagged %}&flagged=1{% endif %}"
           data-shortcut="^" data-label="First page">
        {% else %}
        <a class="disabled item">
        {% endif %}
        <i class="double left angle icon"></i></a>

        {% if items.has_previous %}
        <a class="item keyboard-shortcut"
           title="Previous"
           href="?page={{ items.previous_page_number }}{% if mode %}&mode={{ mode }}{% endif %}{% if author %}&author={{ author.pk }}{% endif %}{% if flagged %}&flagged=1{% endif %}"
           data-shortcut="<"
           data-label="Previous page">
        {% else %}
        <a class="disabled item">
        {% endif %}
        <i class="left angle icon"></i></a>

        <a class="active item">
            {{ items.number }} of {{ items.paginator.num_pages }}
        </a>

        {% if items.has_next %}
        <a class="item keyboard-shortcut"
           title="Next"
           href="?page={{ items.next_page_number }}{% if mode %}&mode={{ mode }}{% endif %}{% if author %}&author={{ author.pk }}{% endif %}{% if flagged %}&flagged=1{% endif %}"
           data-shortcut=">"
           data-label="Next page">
        {% else %}
        <a class="disabled item">
        {% endif %}
        <i class="angle right icon"></i></a>

        {% if items.has_next %}
        <a class="item keyboard-shortcut"
           title="Last"
           href="?page={{ items.paginator.num_pages }}{% if mode %}&mode={{ mode }}{% endif %}{% if author %}&author={{ author.pk }}{% endif %}{% if flagged %}&flagged=1{% endif %}"
           data-shortcut="$" data-label="Last page">
        {% else %}
        <a class="disabled item">
        {% endif %}
        <i class="angle double right icon"></i></a>
    </div>
</div>
