{% extends "base.html" %}

{% load humanize %}
{% load markdown_filter %}

{% block title %}Sync Goodreads reviews{% endblock %}

{% block breadcrumbs %}
<div class="active section">Sync</div>
{% endblock %}

{% block content %}
<div class="ui center aligned basic segment">
    <div class="ui right pagination menu">
        {% if previous_page > 1 %}
        <a class="item keyboard-shortcut"
           title="First"
           href="?page=1"
           data-shortcut="^"
           data-label="First page">
        {% else %}
        <a class="disabled item">
        {% endif %}
           <i class="double left angle icon"></i>
        </a>
        {% if previous_page > 0 %}
        <a class="item keyboard-shortcut"
           title="Previous"
           href="?page={{ previous_page }}"
           data-shortcut="<"
           data-label="Previous page">
        {% else %}
        <a class="disabled item">
        {% endif %}
           <i class="left angle icon"></i>
        </a>
        <a class="active item">{{ page }}</a>
        <a class="item keyboard-shortcut"
           title="Next"
           href="?page={{ next_page }}"
           data-shortcut=">"
           data-label="Next page">
           <i class="right angle icon"></i>
        </a>
    </div>
</div>

<table class="ui celled table">
  <thead>
    <tr>
      <th>Book ID</th>
      <th>Book title (in BM?)</th>
      <th>Author ID</th>
      <th>Author name (in BM?)</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Processed?</th>
      <th>Dates match?</th>
    </tr>
  </thead>
  <tbody>
    {% for book in books %}
    <tr>
      <td><a href="{{ book.url }}" title="Goodreads URL">{{ book.id }}</a></td>
      {% if book.slug %}
      <td class="positive"><i class="checkmark icon"></i>
        <a href="{% url 'view_book' book.slug %}" title="Bookmarker URL">{{ book.title }}</a>
      </td>
      {% else %}
      <td class="negative"><i class="close icon"></i>
        <a href="{% url 'add_book' %}?{{ book.book_params }}" title="Add book form">{{ book.title }}</a>
      </td>
      {% endif %}
      <td><a href="{{ book.author_url }}" title="Goodreads URL">{{ book.author_id }}</a></td>
      {% if book.author %}
      <td class="positive">
        <i class="checkmark icon"></i>
        <a href="{% url 'view_author' book.author.slug %}" title="Bookmarker URL">{{ book.author_name }}</a></td>
      {% else %}
      <td class="negative">
        <i class="close icon"></i>
        <a href="{% url 'add_author' %}?{{ book.author_params }}" title="Add author form">{{ book.author_name }}</a></td>
      {% endif %}
      <td>{{ book.start_date }}</td>
      <td>{{ book.end_date }}</td>
      {% if book.is_processed %}
      <td class="positive"><i class="icon checkmark"></i>
      </td>
      {% else %}
      <td class="negative"><i class="icon close"></i></td>
      {% endif %}

      {% if book.dates_match %}
      <td class="positive"><i class="icon checkmark"></i>
      </td>
      {% else %}
      <td class="negative"><i class="icon close"></i>
        {{ book.dates_comment }}
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>


<div class="ui center aligned basic segment">
    <div class="ui right pagination menu">
        {% if previous_page > 1 %}
        <a class="item keyboard-shortcut"
           title="First"
           href="?page=1"
           data-shortcut="^"
           data-label="First page">
        {% else %}
        <a class="disabled item">
        {% endif %}
           <i class="double left angle icon"></i>
        </a>
        {% if previous_page > 0 %}
        <a class="item keyboard-shortcut"
           title="Previous"
           href="?page={{ previous_page }}"
           data-shortcut="<"
           data-label="Previous page">
        {% else %}
        <a class="disabled item">
        {% endif %}
           <i class="left angle icon"></i>
        </a>
        <a class="active item">{{ page }}</a>
        <a class="item keyboard-shortcut"
           title="Next"
           href="?page={{ next_page }}"
           data-shortcut=">"
           data-label="Next page">
           <i class="right angle icon"></i>
        </a>
    </div>
</div>

{% endblock %}
