{% if term_form.errors or occurrence_form.errors %}
<div class="ui error message">
    {{ term_form.errors|safe }}
    {{ occurrence_form.errors|safe }}
</div>
{% endif %}

<form class="ui form" method="post" autocomplete="off">
    <div class="ui segment">
        {% csrf_token %}
        {% if term %}
        <h2>
            <a href="{{ term.get_absolute_url }}">
                {{ term.text }}
            </a>
            ({{ term.language }})
        </h2>
        <input type="hidden" name="term-text" value="{{ term.text }}" />
        <input type="hidden" name="term-language" value="{{ term.language }}" />
        {% else %}
        <div class="ui fields">
            {% with error=term_form.text.errors %}
            <div class="eight wide {% if error %}error{% endif %} field">
                <label>
                    Term{% if error %} (REQUIRED){% endif %}
                </label>
                {{ term_form.text }}
                <div class="ui dropdown">
                    <div class="ui compact menu" id="suggested-terms">
                    </div>
                </div>
            </div>
            {% endwith %}
            {% with error=term_form.language.errors %}
            <div class="five wide {% if error %}error{% endif %} field">
                <label>Language{% if error %} (REQUIRED){% endif %}</label>
                {{ term_form.language }}
            </div>
            {% endwith %}
            <div class="three wide field">
                <label>&nbsp;</label>
                <button class="ui fluid blue icon button"
                        type="button"
                        onclick="fetchDefinition()">
                    <i class="translate icon"></i> Fetch definition
                </button>
            </div>
        </div>
        <div class="ui horizontal divider">
            <a id="link_button" class="ui disabled button">
                View term
                <span id="occurrences_count"></span>
            </a>
        </div>
        {% endif %}
        <div class="ui fields">
            {% with error=term_form.definition.errors %}
            <div class="{% if error %}error{% endif %} twelve wide field">
                <label>
                    Definition{% if error %} (REQUIRED){% endif %}
                </label>
                {{ term_form.definition }}
            </div>
            {% endwith %}
            {% with error=term_form.highlights.errors %}
            <div class="{% if error %}error{% endif %} four wide field">
                <label>
                    Highlights{% if error %} ({{ error|join:"" }}){% endif %}
                </label>
                {{ term_form.highlights }}
            </div>
            {% endwith %}
        </div>
        <div class="ui horizontal divider header">Occurrence</div>
        <div class="ui stackable grid">
            <div class="eight wide column">
                <div class="field">
                    <label>Quote (<a href="#" onclick="reformatQuote('id_occurrence-quote'); return false">reformat</a>)</label>
                    {{ occurrence_form.quote }}
                </div>
            </div>
            <div class="eight wide column">
                <div class="field">
                    <label>Comments</label>
                    {{ occurrence_form.comments }}
                </div>
            </div>
            <div class="{% if book.has_pages %}three{% else %}four{% endif %} wide column">
                {% with error=occurrence_form.category.errors %}
                <div class="{% if error %}error{% endif %} field">
                    <label>Category{% if error %} (REQ){% endif %}</label>
                    {{ occurrence_form.category }}
                </div>
                {% endwith %}
            </div>
            {% if book.has_pages %}
            <div class="one wide collapsed column">
                {% with error=occurrence_form.page_number.errors %}
                <div class="{% if error %}error{% endif %} field"
                     {% if error %}title="{{ error|join:"/" }}"{% endif %}>
                    <label>Page</label>
                    {{ occurrence_form.page_number }}
                </div>
                {% endwith %}
            </div>
            {% else %}
                <input type="hidden" name="occurrence-page_number"
                       value="1" />
            {% endif %}
            <div class="two wide column">
                <div class="field">
                    <label>New?</label>
                    <div class="ui toggle checkbox">
                        {{ occurrence_form.is_new }}
                    </div>
                </div>
            </div>
            <div class="two wide column">
                <div class="field">
                    <label>Defined?</label>
                    <div class="ui toggle checkbox">
                        {{ occurrence_form.is_defined }}
                    </div>
                </div>
            </div>
            <div class="six wide column">
                <div class="field">
                    <label>Author(s)</label>
                    {{ author_form.authors }}
                </div>
            </div>
            {% with error=author_form.is_custom.errors %}
            <div class="two wide column">
                <div class="{% if error %}error{% endif %} field"
                 {% if error %}title="{{ error|join:"/" }}"{% endif %}>
                    <label title="If false, the book's default authors will be inherited.">Custom author?</label>
                    <div class="ui toggle checkbox">
                        {{ author_form.is_custom }}
                    </div>
                </div>
            </div>
            {% endwith %}
            {% if book.sections.count %}
            <div class="sixteen wide column">
                {% with error=note_form.section.errors %}
                <div class="{% if error %}error{% endif %} field"
                     {% if error %}title="{{ error|join:"/" }}"{% endif %}>
                    <label>Section (only set this if there is ambiguity)</label>
                    {{ occurrence_form.section }}
                </div>
                {% endwith %}
            </div>
            {% endif %}
        </div>
        <div class="ui basic center aligned segment">
            <button type="submit" name="submit"
                    class="ui blue button keyboard-shortcut"
                    data-label="Save term"
                    data-shortcut="s">
                Submit
            </button>
        </div>
    </div>
</form>
