{% extends "base.html" %}

{% load humanize %}
{% load markdown_filter %}

{% block title %}{{ note.subject }}{% endblock %}

{% block meta %}
<meta property="og:title" content="{{ note.subject }}">
<meta property="og:description" content="{{ note.get_opengraph_description }}">
{% endblock %}


{% block breadcrumbs %}
<a class="section" href="{{ book.get_absolute_url }}">View book</a>
<i class="right angle icon divider"></i>
<a class="section" href="{% url 'view_notes' book.slug %}">View notes</a>
<i class="right angle icon divider"></i>
<div class="active section">View note</div>
{% endblock %}

{% block content %}
<div class="ui stackable grid">
    <div class="row">
        <div class="fourteen wide column">
            {% include 'book_header.html' with book=book only %}
        </div>
        {% if request.user.is_staff %}
        <div class="two wide column">
            <a class="ui green icon button" href="{% url 'add_note' book.slug %}">
                <i class="plus icon"></i>
                Add note
            </a>
        </div>
        {% endif %}
    </div>
</div>
<div class="ui divider"></div>

<div class="ui center aligned basic segment">
    <div class="ui stackable fluid menu">
        {% if previous_note %}
        <a class="item" href="{{ previous_note.get_absolute_url }}">
           <i class="left angle icon"></i>
           {{ previous_note.subject|truncatechars:50 }}
        </a>
        {% else %}
        <a class="disabled item">No previous note</a>
        {% endif %}

        <a class="active item">
            {{ note_count }} notes in {{ note_container }}
        </a>

        {% if next_note %}
        <a class="item" href="{{ next_note.get_absolute_url }}">
           {{ next_note.subject|truncatechars:50 }}
           <i class="right angle icon"></i>
        </a>
        {% else %}
        <a class="disabled item"><i class="right angle icon"></i></a>
        {% endif %}
    </div>
</div>

{% include 'note_header.html' with note=note highlight=query %}
{% include 'note_body.html' with note=note highlight=query %}
{% endblock %}
