{% extends "base.html" %}

{% block title %}
    {% if author %}
    {{ author.name }} [terms]
    {% else %}
    Terms
    {% endif %}
{% endblock %}


{% block breadcrumbs %}
<div class="active section">View all terms</div>
{% endblock %}

{% block content %}
<div class="ui grid">
    <div class="ten wide column">
        <h2>View all terms</h2>
    </div>
    <div class="six wide column">
        <div class="ui fluid buttons">
          <a href="?mode=all{{ author_qs }}"
             class="ui {%if not mode %}black{% endif %} button">
              Show all
          </a>
          <a href="?mode=unsure{{ author_qs }}"
             class="ui {% if mode == 'unsure' %}black{% endif %} button"
             title="Only terms where the latest occurrence is not 'notable'">
              Show unsure
          </a>
          <a href="?mode=flagged{{ author_qs }}"
             class="ui {% if mode == 'flagged' %}black{% endif %} button">
              Show flagged
          </a>
        </div>
    </div>
</div>

<div class="ui divider"></div>

{% if author %}
{% include "filter_banner.html" with obj=author %}
{% endif %}

{% include "pagination.html" with items=terms qs=pagination_qs only %}

{% for term in terms %}
    {% include 'term_header.html' with term=term %}
{% endfor %}

{% include "pagination.html" with items=terms qs=qs only %}

{% endblock %}
