{% extends "base.html" %}

{% load humanize %}
{% load markdown_filter %}

{% block title %}{{ tag.slug }} [tag]{% endblock %}

{% block breadcrumbs %}
<a class="section" href="{% url 'view_all_tags' %}">View tags</a>
<i class="right angle icon divider"></i>
<div class="active section">View tag</div>
{% endblock %}

{% block content %}
<h1>
    <span class="ui big {{ tag.get_colour }} label">
        {{ tag }}
    </span>
    {% if tag.faved %}
    <i class="red heart icon" title="Faved"></i>
    {% endif %}
</h1>
<h2 class="ui header">
    <div class="sub header">
        {% for author in tag.get_authors %}
        {{ author.name }}{% if not forloop.last %},{% endif %}
        {% endfor %}
    </div>
</h2>
<p>
    {{ tag.description }}
    {% if request.user.is_staff %}
    <a href="{% url 'admin:books_tag_change' tag.pk %}">
        <i class="edit icon"></i>
    </a>
    {% endif %}
</p>
<div class="ui divider"></div>

{% if notes %}
    {% include "pagination.html" with items=notes only %}
    <div class="ui grid">
        {% include 'note_list_with_books.html' with notes=notes %}
    </div>
    {% include "pagination.html" with items=notes only %}
{% else %}
    <div class="ui warning message">No notes yet</div>
{% endif %}
{% endblock %}
