{% extends "base.html" %}

{% block title %}{{ author.name }}{% endblock %}

{% block breadcrumbs %}
<div class="active section">View author</div>
{% endblock %}

{% block content %}
<div class="ui stackable grid">
    <div class="twelve wide column">
        <h2 class="ui header">
            <a href="{{ author.link }}">{{ author.name }}</a>
            <div class="sub header">
                <a href="{% url 'view_all_terms' %}?author={{ author.pk }}">
                    {{ num_terms }}
                    <i class="flag icon"></i>
                </a>
                /
                <a href="{% url 'view_all_notes' %}?author={{ author.pk }}">
                    {{ num_notes }}
                    <i class="sticky note icon"></i>
                </a>
                {% if request.user.is_staff %}
                /
                <a href="{% url 'admin:books_author_change' author.pk %}">
                    <i class="edit icon"></i>
                </a>
                {% endif %}
            </div>
        </h2>
    </div>
    {% if request.user.is_staff %}
    <div class="four wide right aligned column">
        <form method="post" action="{% url 'add_author' %}">
            <div class="ui fluid labeled action input">
                <div class="ui label">Author</div>
                <input type="text" name="goodreads_id"
                       placeholder="GoodReads ID" />
                <button type="submit" class="ui icon green button">
                    <i class="plus icon"></i>
                </button>
            </div>
            {% csrf_token %}
        </form>
    </div>
    {% endif %}
</div>

<div class="ui divider"></div>

<a name="top"></a>

{% if books %}
<div class="ui doubling ten cards">
    {% for row in books %}
    <a class="ui card" href="#book-{{ row.book.pk }}" title="{{ row.book.title }}">
        <div class="image">
            <img src="{{ row.book.image_url }}" class="ui fluid image" />
        </div>
    </a>
    {% endfor %}
</div>

<div class="ui divider"></div>

<div class="ui stackable grid">
    {% for row in books %}
    <div class="row">
        <div class="fifteen wide column">
            <h3 class="ui header" id="book-{{ row.book.pk }}">
                <div class="content">
                    <a href="{{ row.book.get_absolute_url }}">{{ row.book.title }}</a>
                    <div class="sub header">
                        {% if row.book.details %}
                        {% include 'author_list.html' with authors=row.book.details.default_authors only %}
                        {% endif %}
                    </div>
                </div>
            </h3>
        </div>
        <div class="one wide center aligned column">
            <a href="#top"><i class="angle up icon"></i> Top</a>
        </div>
    </div>
    <div class="row">
        <div class="three wide column">
            <a href="{{ row.book.get_absolute_url }}" class="ui fluid image">
                <img src="{{ row.book.image_url }}"
                     title="{{ row.book.title }}" />
            </a>
        </div>
        <div class="thirteen wide column">
            {% if row.sections %}
            {% include 'section_list.html' with sections=row.sections hide_book=1 %}
            {% elif row.num_terms or row.num_notes %}
            <div class="ui celled two column grid">
                <div class="column">
                    {% if row.num_terms %}
                    <a href="{% url 'view_terms' row.book.slug %}?author={{ author.pk }}"
                       class="ui fluid basic blue icon button">
                        <i class="list icon"></i>
                        View terms by {{ author }} ({{ row.num_terms }})
                    </a>
                    {% include 'term_snippets.html' with terms=row.terms show_page=row.book.has_pages only %}
                    {% else %}
                    <div class="ui messgae">No terms by {{ author }}</div>
                    {% endif %}
                </div>
                <div class="column">
                    {% if row.num_notes %}
                    <a href="{% url 'view_notes' row.book.slug %}?author={{ author.pk }}"
                       class="ui fluid basic blue icon button">
                        <i class="list icon"></i>
                        View notes by {{ author }} ({{ row.num_notes }})
                    </a>
                    {% include 'note_snippets.html' with notes=row.notes show_page=book.has_pages only %}
                    {% else %}
                    <div class="ui message">No notes by {{ author }}</div>
                    {% endif %}
                </div>
            </div>
            {% else %}
            <p>Nothing by this author</p>
            {% endif %}
        </div>
    </div>
    <div class="ui divider"></div>
    {% endfor %}
</div>
{% else %}
<div class="ui message">
    No books yet.
</div>
{% endif %}
{% endblock %}
