{% extends "base.html" %}

{% block title %}
    {% if author %}
    {{ author.name }} [terms]
    {% else %}
    Terms
    {% endif %}
{% endblock %}


{% block breadcrumbs %}
<div class="active section">View all terms</div>
{% endblock %}

{% block content %}
<div class="ui grid">
    <div class="thirteen wide column">
        <h2>View all terms</h2>
    </div>
    <div class="three wide column">
        {% if flagged %}
        <a href="{% if author %}?author={{ author }}{{% else %}?flagged{% endif %}"
           class="ui fluid basic blue button">
            Show all
        </a>
        {% else %}
        <a href="?flagged=1{% if author %}&author={{ author }}{% endif %}"
           class="ui fluid blue button">
            Show flagged
        </a>
        {% endif %}
    </div>
</div>

<div class="ui divider"></div>

{% include "pagination.html" with items=terms author=author flagged=flagged only %}

{% for term in terms %}
    {% include 'term_header.html' with term=term %}
{% endfor %}

{% include "pagination.html" with items=terms author=author flagged=flagged only %}

{% endblock %}
