{% extends "base.html" %}

{% block title %}View all authors{% endblock %}

{% block breadcrumbs %}
<div class="active section">View all authors</div>
{% endblock %}

{% block content %}
<h2>View all authors</h2>

<div class="ui divider"></div>

<div class="ui three column stackable grid">
    {% for author, books in authors_and_books %}
    <div class="column">
        <div class="ui segment">
            <h3 class="ui header">
                <a href="{{ author.get_absolute_url }}">
                    {{ author.name }}
                </a>
            </h3>
            {% if books %}
            <div class="ui list">
                {% for book in books %}
                <div class="item">
                <a href="{{ book.url }}">
                    {{ book.title }}
                </a>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
