{% extends "base.html" %}

{% block title %}{{ book.title }} [terms]{% endblock %}

{% block breadcrumbs %}
<a class="section" href="{{ book.get_absolute_url }}">View book</a>
<i class="right angle icon divider"></i>
<div class="active section">View terms</div>
{% endblock %}

{% block content %}
<div class="ui stackable grid">
    <div class="fourteen wide column">
        {% include 'book_header.html' with book=book only %}
    </div>
    <div class="two wide column">
        <a class="ui green icon button" href="{% url 'add_term' book.slug %}">
            <i class="plus icon"></i>
            Add term
        </a>
    </div>
</div>
<div class="ui divider"></div>

{% include "pagination.html" with items=terms author=author only %}

<div class="ui grid">
    {% for term in terms %}
    {% include 'term_display.html' with x=term show_page=book.has_pages only %}
    {% endfor %}
</div>

{% include "pagination.html" with items=terms author=author only %}

{% endblock %}
