{% if request.user.is_staff %}
<div class="ui stackable grid">
    <div class="eight wide column">
{% endif %}
        <div class="ui segment">
            <div class="ui five mini statistics">
                <div class="statistic">
                    <div class="value">
                        {{ books.new.count }}
                    </div>
                    <div class="label">
                        <a href="{% url 'view_books' 'new' %}">New</a>
                    </div>
                </div>
                <div class="statistic">
                    <div class="value">
                        {{ books.incomplete.count }}
                    </div>
                    <div class="label">
                        <a href="{% url 'view_books' 'incomplete' %}">Incomplete</a>
                    </div>
                </div>
                <div class="statistic">
                    <div class="value">
                        {{ books.unread.count }}
                    </div>
                    <div class="label">
                        <a href="{% url 'view_books' 'unread' %}">Unread</a>
                    </div>
                </div>
                <div class="statistic">
                    <div class="value">
                        {{ books.publications.count }}
                    </div>
                    <div class="label">
                        <a href="{% url 'view_books' 'publications' %}">Publications</a>
                    </div>
                </div>
                <div class="statistic">
                    <div class="value">
                        {{ books.complete.count }}
                    </div>
                    <div class="label">
                        <a href="{% url 'view_books' 'complete' %}">Complete</a>
                    </div>
                </div>
            </div>
        </div>
        {% if request.user.is_staff %}
    </div>
    <div class="four wide column">
        <div class="ui segment">
            <form method="post" action="{% url 'add_author' %}">
                <div class="ui fluid labeled action input">
                    <div class="ui label">Author</div>
                    <input type="text" name="goodreads_id"
                           placeholder="GoodReads ID" />
                    <button type="submit" class="ui icon green button">
                        <i class="plus icon"></i>
                    </button>
                </div>
                {% csrf_token %}
            </form>
        </div>
    </div>
    <div class="four wide column">
        <div class="ui segment">
            <form method="post" action="{% url 'add_book' %}">
                <div class="ui fluid labeled action input">
                    <div class="ui label">Book</div>
                    <input type="text" name="goodreads_id"
                           placeholder="GoodReads ID" />
                    <button type="submit" class="ui icon green button">
                        <i class="plus icon"></i>
                    </button>
                </div>
                {% csrf_token %}
            </form>
        </div>
    </div>
</div>
{% endif %}
