{% extends "base.html" %}

{% block title %}Edit section{% endblock %}

{% block breadcrumbs %}
<a class="section" href="{{ book.get_absolute_url }}">View book</a>
<i class="right angle icon divider"></i>
<a class="section" href="{{ section.get_absolute_url }}">View section</a>
<i class="right angle icon divider"></i>
<div class="active section">Edit section</div>
{% endblock %}

{% block content %}
<div class="ui grid">
    <div class="thirteen wide column">
        {% include 'book_header.html' with book=book only %}
    </div>
    <div class="three wide center aligned column">
        <a href="{% url 'admin:books_section_change' section.pk %}"
           class="ui fluid blue icon button">
           <i class="edit icon"></i>
           Edit in admin
        </a>
    </div>
</div>

<div class="ui divider"></div>

{% if section.related_to %}
{{ section.related_to }}
{% endif %}

{% include 'section_form.html' with show_delete=1 %}

{% endblock %}
