{% load markdown_filter %}
{% load highlight_filter %}

<div class="ui vertically padded stackable grid">
    <div class="{% if note.tags.count %}twelve{% else %}sixteen{% endif %} wide column">
        <h2 class="ui header">
            <div class="content">
                <i class="yellow sticky note icon"></i>
                {% if hide_link %}
                {{ note.subject|markdownify_title }}
                {% else %}
                <a href="{{ note.get_absolute_url }}">
                    {% if highlight %}
                    {{ note.subject|markdownify_title|highlight_term:highlight }}
                    {% else %}
                    {{ note.subject|markdownify_title }}
                    {% endif %}
                </a>
                {% endif %}
                {% if request.user.is_staff %}
                <a href="{% url 'edit_note' note.pk %}">
                    <i class="edit icon"></i>
                </a>
                {% endif %}
            </div>
        </h2>
    </div>
    {% if note.tags.count %}
    <div class="four wide right aligned column">
        {% for tag in note.tags.all %}
        <a class="ui {{ tag.get_colour }} label" title="{{ tag.description }}"
           href="{{ tag.get_absolute_url }}">
            {{ tag }}
        </a>
        {% endfor %}
    </div>
    {% endif %}
</div>
