{% regroup occurrences by book as books %}

<br />
<div class="ui compact grid">
{% for book in books %}
    {% include "book_small_header.html" with book=book.grouper only %}
    <div class="row">
        <div class="one wide column">
        </div>
        <div class="fifteen wide column">
            <br />
            {% for occurrence in book.list %}
                {% include 'term_occurrence_display.html' with o=occurrence highlight=query only %}
                <br />
            {% endfor %}
            <br />
        </div>
    </div>
{% endfor %}
</div>
