{% load humanize %}
{% load markdown_filter %}
{% load highlight_filter %}

{% if o.quote or o.comments %}
<div class="ui segments no-top-margin">
    {% if o.quote %}
    <div class="ui segment">
        <i class="left quote icon left-floated"></i>
        {% if highlight %}
        {{ o.quote|markdownify|highlight_term:highlight }}
        {% else %}
        {{ o.get_highlighted_quote|safe }}
        {% endif %}
    </div>
    {% endif %}
    {% if o.comments %}
    <div class="ui secondary segment">
        {{ o.comments|markdownify }}
    </div>
    {% endif %}
</div>
{% endif %}

{% if o.book.has_pages %}
    &mdash;p.{{ o.get_page_display }}
    <i class="ellipsis vertical icon"></i>
{% endif %}
{% if show_book %}
    <i class="book icon"></i>
    <a href="{{ o.book.get_absolute_url }}">
        {{ o.book.title }}
    </a>
    <i class="ellipsis vertical icon"></i>
{% endif %}
{% if not hide_section and o.section %}
    {% include "section_link.html" with section=o.section only %}
    <i class="ellipsis vertical icon"></i>
{% endif %}
{% if o.authors.count %}
    {% if o.has_default_authors %}
    {% include 'author_list.html' with authors=o.authors %}
    {% else %}
    <strong>
    {% include 'author_list.html' with authors=o.authors %}
    </strong>
    {% endif %}
{% else %}
<span class="ui red label">missing author</span>
{% endif %}
<i class="ellipsis vertical icon"></i>
{% if o.is_new %}
<i class="certificate icon" title="New"></i>
{% endif %}
{% if o.is_defined %}
<i class="quote left icon" title="Defined"></i>
{% endif %}
<div class="ui label {{ o.category }}-category">{{ o.category }}</div>
{% if not truncate %}
<i class="ellipsis vertical icon"></i>
<a href="{{ o.get_absolute_url }}" title="{{ o.added }}">
    {{ o.added|timesince }} ago
</a>
<i class="ellipsis vertical icon"></i>
<a href="{% url 'edit_occurrence' o.pk %}">
    <i class="edit icon"></i>
</a>
{% endif %}
