{% extends "base.html" %}

{% block title %}
    {% if author %}
    {{ author.name }} [notes]
    {% else %}
    Notes
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
<div class="active section">View all notes</div>
{% endblock %}

{% block content %}
<h2>View all notes</h2>

<div class="ui divider"></div>

{% include "pagination.html" with items=notes author=author only %}

{% include 'note_list_with_books.html' with notes=notes %}

{% include "pagination.html" with items=notes author=author only %}

{% endblock %}
