{% extends "base.html" %}

{% load humanize %}
{% block nobreadcrumbs %}{% endblock %}

{% block title %}Activity{% endblock %}

{% block content %}
{% include 'admin_tools.html' %}
<h1>Activity</h1>
{% include "pagination.html" with items=actions  only %}
<div class="ui large feed">
    {% for action in actions %}
    <div class="event">
        <div class="label">
            <i class="{{ action.icon }} icon"></i>
        </div>
        <div class="content">
            <div class="summary">
                You {{ action.verb }} {{ action.noun }}
                <div class="date" title="{{ action.timestamp }}">
                    {{ action.timestamp|naturaltime }}
                </div>
            </div>
            {% include action.display_template with action=action only %}
        </div>
    </div>
    {% endfor %}
</div>
{% include "pagination.html" with items=actions  only %}
{% endblock %}
