{% extends "base.html" %}

{% load humanize %}
{% block nobreadcrumbs %}{% endblock %}

{% block title %}Activity{% endblock %}

{% block content %}
{% include 'admin_tools.html' %}
<div class="ui two column grid">
    <div class="column">
        <h1>Activity</h1>
    </div>
    <div class="right aligned column">
        <div class="ui floating dropdown labeled icon button">
            <i class="filter icon"></i>
            <span class="text">Filter</span>
            <div class="menu">
                <div class="scrolling menu">
                    {% for category, icon in filter_categories %}
                    <a class="{% if mode == category %}active{% endif %} item" href="?mode={{ category }}">
                        <i class="ui {{ icon }} icon"></i>
                        {{ category|title }}{{ category|pluralize }}
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% include "pagination.html" with items=paged_actions  only %}
<div class="ui large feed">
    {% for action, show_book in actions %}
    <div class="event">
        <div class="label">
            <i class="{{ action.icon }} icon"></i>
        </div>
        <div class="content">
            <div class="summary">
                You {{ action.verb }}
                {% if action.category == 'book' and not show_book %}
                    the same book as above
                {% else %}
                {{ action.noun }}
                {% endif %}
                <div class="date" title="{{ action.timestamp }}">
                    {{ action.timestamp|naturaltime }}
                </div>
            </div>
            {% include action.display_template with action=action show_book=show_book only %}
        </div>
    </div>
    {% endfor %}
</div>
{% include "pagination.html" with items=paged_actions  only %}
{% endblock %}
