{% extends "base.html" %}

{% block title %}Add term{% endblock %}

{% block breadcrumbs %}
<a class="section" href="{% url 'view_book' book.slug %}">View book</a>
<i class="right angle icon divider"></i>
<div class="active section">Add term</div>
{% endblock %}

{% block content %}
<div class="ui grid">
    <div class="thirteen wide column">
        {% include 'book_header.html' with book=book only %}
    </div>
    <div class="three wide center aligned column">
        {% if not book.is_processed %}
        <form method="post" action="{% url 'mark_complete' book.id %}">
            {% csrf_token %}
            <button class="ui fluid black icon button"
                    title="Summaries can be omitted"
                    name="mode"
                    value="processed"
                    type="submit">
               <i class="check icon"></i> Mark as processed
            </button>
        </form>
        {% endif %}
    </div>
</div>

<div class="ui divider"></div>

{% with num_terms=book.terms.count %}
{% if num_terms %}
<h3>
    Recent terms ({{ num_terms }} total)
    ::
    <a href="{% url 'view_terms' book.slug %}">View all &raquo;</a>
</h3>
<div class="ui celled two column grid">
    <div class="column">
        {% include 'term_snippets.html' with terms=recent_terms_1 show_page=book.has_pages only %}
    </div>
    <div class="column">
        {% include 'term_snippets.html' with terms=recent_terms_2 show_page=book.has_pages only %}
    </div>
</div>
{% else %}
<div class="ui warning message">
    <div class="header">
        No terms yet!
    </div>
</div>
{% endif %}
{% endwith %}

{% include 'term_form.html' %}

{% endblock %}
