<div class="ui grid">
    <div class="computer only row">
        <div class="one wide column">
            {% include "book_image.html" %}
        </div>
        <div class="fifteen wide column">
            {% include "book_title.html" %}
        </div>
    </div>
    <div class="mobile tablet only row">
        <div class="six wide column">
            {% include "book_image.html" %}
        </div>
        <div class="ten wide column">
            {% include "book_title.html" %}
        </div>
    </div>
</div>
