{% extends "base.html" %}

{% load humanize %}
{% load markdown_filter %}

{% block breadcrumbs %}
<div class="active section">View tag</div>
{% endblock %}

{% block content %}
<h1>
    <span class="ui big {{ tag.get_colour }} label">
        {{ tag }}
    </span>
</h1>
<p>
    {{ tag.description }}
</p>

<div class="ui segment">
    <h2>Bibliography ({{ tag.get_bibliography|length }})</h2>
    <div class="ui bulleted list">
        {% for citation, entry_url in tag.get_bibliography %}
        <div class="item">
                {{ citation|markdownify }}
        </div>
        {% endfor %}
    </div>
</div>

{% for note in notes %}
<h3 class="ui header">
    {{ note.get_citation }}
    <div class="sub header">
        {{ note.book.title }}
    </div>
</h3>
<blockquote>
    {{ note.quote|markdownify }}
</blockquote>
{% endfor %}

{% endblock %}

