{% extends "base.html" %}

{% block breadcrumbs %}
<a class="section" href="{{ book.get_absolute_url }}">View book</a>
<i class="right angle icon divider"></i>
<a class="section" href="{{ section.get_absolute_url }}">View section</a>
<i class="right angle icon divider"></i>
<div class="active section">Edit section</div>
{% endblock %}

{% block content %}
{% include 'book_header.html' with book=book only %}

<div class="ui divider"></div>

{% if section.related_to %}
{{ section.related_to }}
{% endif %}

{% include 'section_form.html' with show_delete=1 %}

{% endblock %}
