<div class="ui segment">
    <form class="ui form" method="post">
        {% csrf_token %}
        {% if not book.has_pages %}
            <input type="hidden" name="note-page_number" value="1" />
        {% endif %}

        <div class="ui stackable grid">
            <div class="row">
                <div class="{% if book.has_pages %}eight{% else %}nine{% endif %} wide column">
                    {% with error=note_form.subject.errors %}
                    <div class="{% if error %}error{% endif %} field">
                        <label>Subject{% if error %} (REQUIRED){% endif %}</label>
                        {{ note_form.subject }}
                    </div>
                    {% endwith %}
                </div>
                {% if book.has_pages %}
                <div class="one wide collapsed column">
                    {% with error=note_form.page_number.errors %}
                    <div class="{% if error %}error{% endif %} field"
                         {% if error %}title="{{ error|join:"/" }}"{% endif %}>
                        <label>Page</label>
                        {{ note_form.page_number }}
                    </div>
                    {% endwith %}
                </div>
                {% endif %}
                <div class="two wide column">
                    {% with error=author_form.mode.errors %}
                    <div class="{% if error %}error{% endif %} field"
                         {% if error %}title="{{ error|join:"/" }}"{% endif %}>
                        <label>Author mode</label>
                        {{ author_form.mode }}
                    </div>
                    {% endwith %}
                </div>
                <div class="five wide collapsed column">
                    <div class="field">
                        <label>Author(s)</label>
                        {{ author_form.authors }}
                    </div>
                </div>
            </div>
            <div class="two column row">
                <div class="column">
                    <div class="field">
                        <label>Quote (<a href="#" onclick="reformatQuote('id_note-quote'); return false">reformat</a>)</label>
                        {{ note_form.quote }}
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label>Comment</label>
                        {{ note_form.comment }}
                    </div>
                    <div class="field">
                        <label>Tags</label>
                        {{ note_form.tags }}
                    </div>
                </div>
            </div>
            {% if book.sections.count %}
            <div class="sixteen wide column">
                {% with error=note_form.section.errors %}
                <div class="{% if error %}error{% endif %} field"
                     {% if error %}title="{{ error|join:"/" }}"{% endif %}>
                    <label>Section{% if book.has_pages %} (only set this if there is ambiguity){% endif %}</label>
                    {{ note_form.section }}
                </div>
                {% endwith %}
            </div>
            {% endif %}
        </div>
        <div class="ui basic center aligned segment">
            <button type="submit" name="submit" value=""
                    class="ui blue button">
                Submit
            </button>
            {% if show_delete %}
            <button type="submit" name="submit" value="delete"
                    class="ui red icon button">
                <i class="x icon"></i>
                Delete
            </button>
            {% endif %}
        </div>
    </form>
</div>
