{% regroup notes by book as book_list %}
{% for book in book_list %}
    <div class="ui compact grid">
        {% include "book_small_header.html" with book=book.grouper only %}
        <div class="row">
            <div class="one wide column">
            </div>
            <div class="fifteen wide column">
                {% for note in book.list %}
                    {% include 'note_header.html' with note=note highlight=highlight only %}
                    {% include 'note_body.html' with note=note highlight=highlight %}
                    <br />
                {% endfor %}
                <br />
            </div>
        </div>
    </div>
{% endfor %}
