<div class="row">
    <div class="column">
        {% include 'note_header.html' with note=x highlight=highlight only %}
    </div>
</div>
<div class="computer only row">
    {% if x.book.has_pages %}
    <div class="one wide column">
        <div class="ui big circular label">
            {{ x.get_page_display }}
        </div>
    </div>
    <div class="fifteen wide column">
    {% else %}
    <div class="sixteen wide column">
    {% endif %}
        {% include 'note_body.html' with note=x highlight=highlight hide_section=hide_section only %}
    </div>
</div>
<div class="mobile tablet only row">
    <div class="sixteen wide column">
        {% include 'note_body.html' with note=x highlight=highlight hide_section=hide_section only %}
    </div>
</div>
