{% load humanize %}

<div class="ui comments">
    {% for note in notes %}
    <div class="comment">
        {% if show_page %}
        <div class="avatar">
            p.{{ note.get_page_display }}
        </div>
        {% endif %}
        <div class="content">
            <span class="author">
                <a href="{{ note.get_absolute_url }}">
                    {% if show_page %}
                    {{ note.subject|truncatechars:50 }}
                    {% else %}
                    {{ note.subject|truncatechars:65 }}
                    {% endif %}
                </a>
                {% if request.user.is_staff %}
                <a href="{% url 'edit_note' note.pk %}">
                    <i class="edit icon"></i>
                </a>
                {% endif %}
            </span>
            <div class="metadata">
                <div class="date" title="{{ note.added }}">
                    {{ note.added|naturaltime }}
                </div>
            </div>
            <div class="text">
                {% if show_page %}
                {{ note.quote|truncatechars:50 }}
                {% else %}
                {{ note.quote|truncatechars:60 }}
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
