{% extends "base.html" %}

{% load markdown_filter %}

{% block breadcrumbs %}
<div class="active section">Search</div>
{% endblock %}

{% block content %}
<div class="ui grid">
    <div class="three wide column">
        <h1>Search</h1>
    </div>
    <div class="thirteen wide right aligned column">
        {% if sort_options %}
        <div class="ui compact menu">
            <div class="header item">Sort by</div>
            {% for sort_option in sort_options %}
            <a href="{{ qs }}&mode={{ mode }}&sort={{ sort_option }}"
               class="{% if sort_option == sort %}active {% endif %}item">
                {{ sort_option }}
            </a>
            {% endfor %}
            </div>
        {% endif %}
    </div>
    {% if mode %}
    <div class="sixteen wide column">
        <form class="ui form">
            <input type="hidden" name="q" value="{{ query }}" />
            <input type="hidden" name="mode" value="{{ mode }}" />
            <input type="hidden" name="sort" value="{{ sort }}" />
            <div class="fields">
                {% if mode == 'books' %}
                <div class="two wide field">
                    <label>Minimum rating</label>
                    {{ filter_form.min_rating }}
                </div>
                <div class="two wide field">
                    <label>Maximum rating</label>
                    {{ filter_form.max_rating }}
                </div>
                <div class="twelve wide field">
                    <label>Author</label>
                    {{ filter_form.author }}
                </div>
                {% elif mode == 'notes' %}
                <div class="four wide field">
                    <label>Author</label>
                    {{ filter_form.author }}
                </div>
                <div class="six wide field">
                    <label>Book</label>
                    {{ filter_form.book }}
                </div>
                <div class="six wide field">
                    <label>Section</label>
                    {{ filter_form.section }}
                </div>
                {% elif mode == 'terms' %}
                <div class="four wide field">
                    <label>Author</label>
                    {{ filter_form.author }}
                </div>
                <div class="five wide field">
                    <label>Book</label>
                    {{ filter_form.book }}
                </div>
                <div class="five wide field">
                    <label>Section</label>
                    {{ filter_form.section }}
                </div>
                <div class="two wide field">
                    <label>Category</label>
                    {{ filter_form.category }}
                </div>
                {% elif mode == 'sections' %}
                <div class="two wide field">
                    <label>Minimum rating</label>
                    {{ filter_form.min_rating }}
                </div>
                <div class="two wide field">
                    <label>Maximum rating</label>
                    {{ filter_form.max_rating }}
                </div>
                <div class="six wide field">
                    <label>Author</label>
                    {{ filter_form.author }}
                </div>
                <div class="six wide field">
                    <label>Book</label>
                    {{ filter_form.book }}
                </div>
                {% endif %}
            </div>
        </form>
    </div>
    {% endif %}
</div>

<div class="ui divider"></div>

<div class="ui stackable four column grid">
    <div class="column">
        {% include "search_header.html" with key="notes" %}
        {% if not mode %}
            {% if results.notes %}
                <div class="ui bulleted list">
                    {% for note in results.notes %}
                    <div class="item">
                        <a href="{{ note.get_absolute_url }}{{ qs }}">
                            <strong>{{ note.subject }}</strong>
                        </a>
                        from
                        <a href="{{ note.book.get_absolute_url }}">
                            {{ note.book.title }}
                        </a>
                    </div>
                    {% endfor %}
                </div>
            {% else %}
            <div class="ui message">
                No notes found
            </div>
            {% endif %}
        {% endif %}
    </div>
    <div class="column">
        {% include "search_header.html" with key="terms" %}
        {% if not mode %}
            {% if results.terms %}
                <div class="ui bulleted list">
                    {% for term in results.terms %}
                    {% ifchanged term.term.text %}
                    <div class="item">
                        <a href="{{ term.term.get_absolute_url }}{{ qs }}">
                            <strong>{{ term.term.text }}</strong>
                        </a> from
                        <a href="{{ term.book.get_absolute_url }}">
                            {{ term.book.title }}
                        </a>
                    </div>
                    {% endifchanged %}
                    {% endfor %}
                </div>
            {% else %}
                <div class="ui message">
                    No terms found
                </div>
            {% endif %}
        {% endif %}
    </div>
    <div class="column">
        {% include "search_header.html" with key="sections" %}
        {% if not mode %}
            {% if results.sections %}
                <div class="ui bulleted list">
                    {% for section in results.sections %}
                    <div class="item">
                        <a href="{{ section.get_absolute_url }}{{ qs }}">
                            <strong>{{ section.title|markdownify_title }}</strong>
                        </a> from
                        <a href="{{ section.book.get_absolute_url }}">
                            {{ section.book.title }}
                        </a>
                        {% include 'author_list.html' with authors=section.authors only %}
                    </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="ui message">
                No sections found
                </div>
            {% endif %}
        {% endif %}
    </div>
    <div class="column">
        {% include "search_header.html" with key="books" %}
        {% if not mode %}
            {% if results.books %}
                <div class="ui bulleted list">
                    {% for book in results.books %}
                    <div class="item">
                        <a href="{{ book.get_absolute_url }}">
                            <strong>{{ book.title }}</strong>
                        </a>
                        {% include 'author_list.html' with authors=book.details.default_authors only %}
                    </div>
                    {% endfor %}
                </div>
            {% else %}
            <div class="ui message">
                No books found
            </div>
            {% endif %}
        {% endif %}
    </div>
</div>

{% if mode == 'notes' %}
    {% if results.notes %}
        {% include 'note_list_with_books.html' with notes=results.notes highlight=query %}
    {% else %}
        <div class="ui message">
            No notes found
        </div>
    {% endif %}
{% elif mode == 'terms' %}
    {% if results.terms %}
        {% regroup results.terms by term as term_list %}

        {% for term in term_list %}
            {% include 'term_header.html' with term=term.grouper highlight=query only %}

            {% include 'term_list_with_books.html' with occurrences=term.list query=query only %}
        {% endfor %}
    {% else %}
        <div class="ui message">
            No terms found
        </div>
    {% endif %}
{% elif mode == 'sections' %}
    {% if results.sections %}
    <br />
        {% include 'section_list.html' with sections=results.sections highlight=query show_book=True %}
    {% else %}
        <div class="ui message">
            No sections found
        </div>
    {% endif %}
{% elif mode == 'books' %}
    {% for book in results.books %}
        {% include 'book_header.html' with book=book highlight=query only %}
    {% empty %}
    <div class="ui message">
        No books found
    </div>
    {% endfor %}
{% endif %}

{% endblock %}
