{% load markdown_filter %}
{% load highlight_filter %}


<br />
<div class="ui vertically divided compact grid">
    {% for section in sections %}
    {% with related=section.related_to %}
    {% if not hide_book %}
    {% ifchanged section.book %}
        {% include "book_small_header.html" with book=section.book only %}
    {% endifchanged %}
    {% endif %}
    <div class="computer only row">
        {% if section.is_article %}
        <div class="twelve wide column">
        {% else  %}
        <div class="one wide column">
            <div class="ui large circular label {% if section.skipped %}black{% endif %}"
                 {% if section.skipped %}title="Not read yet"{% endif %}>
                {{ section.get_page_display }}
            </div>
        </div>
        <div class="eleven wide column">
        {% endif %}
            <h4 class="ui {% if related %}disabled{% endif %} header">
                {% if section.number %}{{ section.number }}.{% endif %}
                {% if related %}
                <a href="{{ related.get_absolute_url }}">
                {% else %}
                <a href="{{ section.get_absolute_url }}">
                {% endif %}
                    {% if highlight %}
                    {{ section.title|markdownify_title|highlight_term:highlight }}
                    {% else %}
                    {{ section.title|markdownify_title }}
                    {% endif %}
                </a>
                {% if not related %}
                <div class="ui heart rating display-rating" data-rating="{{ section.rating }}">
                </div>
                {% endif %}
                {% if section.date %}
                {{ section.date }}
                {% endif %}
                {% if section.source_url %}
                <a href="{{ section.source_url }}">
                    <i class="external icon"></i>
                </a>
                {% endif %}
                <div class="sub header">
                    {{ section.subtitle|markdownify_title }}
                    {% if section.authors.count %}
                        {% if not section.has_default_authors %}
                        {% include 'author_list.html' with authors=section.authors %}
                        {% endif %}
                    {% else %}
                    (missing author)
                    {% endif %}
                    {% if related %}
                    &mdash;also in
                    <a href="{{ related.book.get_absolute_url }}">
                        {{ related.book }}
                    </a>
                    {% endif %}
                </div>
            </h4>
            {% if section.summary %}
                {% if highlight %}
                    {{ section.summary|markdownify|highlight_term:highlight }}
                {% else %}
                    {{ section.summary|markdownify }}
                {% endif %}
            {% endif %}
        </div>
        <div class="three wide right aligned column">
            {% if related %}
            {{ related.terms.count }} <i class="flag icon"></i>
            /
            {{ related.notes.count }} <i class="sticky note icon"></i>
            {% else %}
            {{ section.num_terms}} <i class="flag icon"></i>
            /
            {{ section.num_notes }} <i class="sticky note icon"></i>
            {% endif %}
        </div>
        {% if request.user.is_staff %}
        <div class="one wide right aligned column">
            <a class="ui mini icon {% if not section.summary %}red{% endif %} button"
               href="{% url 'edit_section' section.pk %}">
                <i class="edit icon"></i>
            </a>
        </div>
        {% endif %}
    </div>
    <div class="tablet mobile only row">
        <div class="three wide column">
            <div class="ui large circular label">{{ section.get_page_display }}</div>
        </div>
        <div class="thirteen wide column">
            <h4 class="ui header">
                <a href="{{ section.get_absolute_url }}">
                    {% if highlight %}
                    {{ section.title|markdownify_title|highlight_term:highlight }}
                    {% else %}
                    {{ section.title|markdownify_title }}
                    {% endif %}
                </a>
                <div class="ui heart rating display-rating" data-rating="{{ section.rating }}">
                </div>
                {% if section.source_url %}
                <a href="{{ section.source_url }}">
                    <i class="external icon"></i>
                </a>
                {% endif %}
                <div class="sub header">
                    {{ section.subtitle|markdownify_title }}
                    {% if section.authors.count %}
                        {% if not section.has_default_authors %}
                        {% include 'author_list.html' with authors=section.authors %}
                        {% endif %}
                    {% else %}
                    (missing author)
                    {% endif %}
                </div>
            </h4>
            {% if highlight %}
                {{ section.summary|markdownify|highlight_term:highlight }}
            {% else %}
                {{ section.summary|markdownify }}
            {% endif %}
            {{ section.num_terms }} <i class="flag icon"></i>
            /
            {{ section.num_notes }} <i class="sticky note icon"></i>
            {% if request.user.is_staff %}
            <a class="ui mini icon {% if not section.summary %}red{% endif %} button"
               href="{% url 'edit_section' section.pk %}">
                <i class="edit icon"></i>
            </a>
            {% endif %}
        </div>
    </div>
    {% endwith %}
    {% endfor %}
</div>
