{% load humanize %}
{% load markdown_filter %}
{% load highlight_filter %}

{% ifchanged x.term %}
<div class="row">
    <div class="column">
        {% include 'term_header.html' with term=x.term only %}
    </div>
</div>
{% endifchanged %}
<div class="computer only row">
    {% if x.book.has_pages %}
    <div class="center aligned one wide column">
        <div class="ui big circular label">
            {{ x.get_page_display }}
        </div>
    </div>
    <div class="fifteen wide column">
    {% else %}
    <div class="sixteen wide column">
    {% endif %}
        {% include 'term_occurrence_display.html' with o=x hide_section=hide_section only %}
    </div>
</div>
<div class="mobile tablet only row">
    <div class="sixteen wide column">
        {% include 'term_occurrence_display.html' with o=x hide_section=hide_section %}
    </div>
</div>
