{% extends "base.html" %}

{% load markdown_filter %}

{% block breadcrumbs %}
<a class="section" href="{{ book.get_absolute_url }}">View book</a>
<i class="right angle icon divider"></i>
<div class="active section">View section</div>
{% endblock %}

{% block content %}
{% include 'book_header.html' with book=book only %}

<div class="ui divider"></div>

<div class="ui stackable grid">
    <div class="row">
        {% if book.has_pages %}
        <div class="one wide center aligned column">
            <div class="big ui circular {% if section.skipped %}black{% endif %} label"
                 {% if section.skipped %}title="Not read yet"{% endif %}>
                {{ section.get_page_display }}
            </div>
        </div>
        <div class="ten wide column">
        {% else %}
        <div class="eleven wide column">
        {% endif %}
            <h3 class="ui header">
                {{ section.title|markdownify_title }}
                {% if section.rating %}
                <div class="ui heart rating display-rating"
                     data-rating="{{ section.rating }}">
                </div>
                {% endif %}
                <a href="{% url 'edit_section' section.pk %}">
                    <i class="edit icon"></i>
                </a>
                <div class="sub header">
                    {{ section.subtitle|markdownify }}
                    {% if section.authors.count %}
                        {% if not section.has_default_authors %}
                        {% include 'author_list.html' with authors=section.authors %}
                        {% endif %}
                    {% else %}
                    (missing author)
                    {% endif %}
                    {% if section.source_url %}
                    <a href="{{ section.source_url }}">
                        <i class="external icon"></i>
                    </a>
                    {% endif %}
                </div>
            </h3>
            {% if section.slug %}
            <a href="{% url 'section_redirect' section.slug %}">
                {{ request.get_host }}{% url 'section_redirect' section.slug %}
            </a>
            {% endif %}
        </div>
        <div class="three wide column">
            <div class="ui two mini statistics">
                <div class="statistic">
                    <div class="value">
                        {{ section.terms.count }}
                    </div>
                    <div class="label">
                        terms
                        <a href="{% url 'add_term' book.slug %}">
                            <i class="plus icon"></i>
                        </a>
                    </div>
                </div>
                <div class="statistic">
                    <div class="value">
                        {{ section.notes.count }}
                    </div>
                    <div class="label">
                        notes
                        <a href="{% url 'add_note' book.slug %}?section={{ section.pk }}">
                            <i class="plus icon"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="two wide column">
            <div class="ui fluid buttons">
                {% if previous_section %}
                <a href="{{ previous_section.get_absolute_url }}"
                   class="ui icon button"
                   title="Previous section">
                    <i class="angle left icon"></i>
                </a>
                {% endif %}
                {% if next_section %}
                <a href="{{ next_section.get_absolute_url }}"
                   class="ui icon button"
                   title="Next section">
                    <i class="angle right icon"></i>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% if section.summary %}
    <div class="ui message">
        {{ section.summary|markdownify|safe }}
    </div>
{% else %}
<div class="ui icon warning message">
    <i class="warning icon"></i>
    Needs summary
</div>
{% endif %}

<div class="ui divider"></div>
<div class="ui grid">
    {% for artefact in section.get_artefacts %}
    {% include artefact.display_template with x=artefact show_page=True hide_section=True %}
    {% endfor %}
</div>
{% endblock %}
