{% extends "base.html" %}

{% block breadcrumbs %}
<div class="active section">View term</div>
{% endblock %}

{% block content %}
<div class="ui stackable grid">
    <div class="twelve wide column">
        {% include 'term_header.html' with term=term highlight=query %}
    </div>
    <div class="four wide column">
        <h4>Highlighted phrases</h4>
        <div class="ui bulleted list">
            {% for phrase in term.get_highlights %}
            <div class="item">
                {{ phrase }}
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<br />

{% include 'term_list_with_books.html' with occurrences=occurrences query=query %}

{% endblock %}
