{% extends "base.html" %}

{% block title %}{{ book.title }} [notes]{% endblock %}

{% block breadcrumbs %}
<a class="section" href="{{ book.get_absolute_url }}">View
    {% if book.is_publication %}
    publication
    {% else %}
    book
    {% endif %}
</a>
<i class="right angle icon divider"></i>
<div class="active section">View notes</div>
{% endblock %}

{% block content %}
<div class="ui stackable grid">
    <div class="{% if request.user.is_staff %}fourteen{% else %}sixteen{% endif %} wide column">
        {% include 'book_header.html' with book=book only %}
    </div>
    {% if request.user.is_staff %}
    <div class="two wide column">
        <a class="ui fluid green icon button" href="{% url 'add_note' book.slug %}">
            <i class="plus icon"></i>
            Add note
        </a>
    </div>
    {% endif %}
</div>
<div class="ui divider"></div>

{% include "pagination.html" with items=notes author=author only %}

<div class="ui grid">
    {% for note in notes %}
    {% include 'note_display.html' with x=note only %}
    {% endfor %}
</div>

{% include "pagination.html" with items=notes author=author only %}

{% endblock %}
