{% extends "base.html" %}

{% block title %}View all tags{% endblock %}

{% block breadcrumbs %}
<div class="active section">View all tags</div>
{% endblock %}

{% block content %}
<div class="ui stackable grid">
    <div class="row">
        <div class="twelve wide column">
            <h2>View all tags</h2>
        </div>
        <div class="four wide right aligned column">
            <a class="ui green icon button" href="{% url 'add_tag' %}">
                <i class="plus icon"></i>
                Add tag
            </a>
        </div>
    </div>
</div>

<div class="ui divider"></div>

<div class="ui three column grid">
    {% for tag in tags %}
    <div class="column">
        <div class="ui segment">
            <p>
                <a class="ui big {{ tag.get_colour }} label"
                   href="{{ tag.get_absolute_url }}">
                    {{ tag }} ({{ tag.notes.count }})
                </a>
                {% if tag.faved %}
                <i class="big red heart icon" title="Faved"></i>
                {% endif %}
            </p>
            <p>
                {{ tag.description }}
                {% if request.user.is_staff %}
                <a href="{% url 'admin:books_tag_change' tag.pk %}">
                    <i class="edit icon"></i>
                </a>
                {% endif %}
            </p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
