{% extends "base.html" %}

{% block title %}{{ term.text }}{% endblock %}

{% block breadcrumbs %}
<div class="active section">View term</div>
{% endblock %}

{% block content %}
<div class="ui stackable grid">
    <div class="ten wide column">
        {% include 'term_header.html' with term=term highlight=query %}
    </div>
    <div class="two wide column">
        <form method="post" action="{% url 'flag_term' term.pk %}">
            {% csrf_token %}
            {% if term.flagged %}
            <button class="ui fluid button" name="action" value="unflag">
                <i class="flag icon"></i>
                Unflag
            </button>
            {% else %}
            <button class="ui fluid blue button" name="action" value="flag">
                <i class="flag icon"></i>
                Flag
            </button>
            {% endif %}
        </form>
    </div>
    <div class="four wide column">
        <h4>Highlighted phrases</h4>
        <div class="ui bulleted list">
            {% for phrase in term.get_highlights %}
            <div class="item">
                {{ phrase }}
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<br />

{% include 'term_list_with_books.html' with occurrences=occurrences query=query %}

{% endblock %}
