{% extends "base.html" %}

{% load humanize %}
{% load markdown_filter %}

{% block breadcrumbs %}
<a class="section" href="{{ book.get_absolute_url }}">View book</a>
<i class="right angle icon divider"></i>
<a class="section" href="{% url 'view_notes' book.slug %}">View notes</a>
<i class="right angle icon divider"></i>
<div class="active section">View note</div>
{% endblock %}

{% block content %}
<div class="ui stackable grid">
    <div class="row">
        <div class="fourteen wide column">
            {% include 'book_header.html' with book=book only %}
        </div>
        <div class="two wide column">
            <a class="ui green icon button" href="{% url 'add_note' book.slug %}">
                <i class="plus icon"></i>
                Add note
            </a>
        </div>
    </div>
</div>
<div class="ui divider"></div>

{% include 'note_header.html' with note=note highlight=query only %}
{% include 'note_body.html' with note=note hide_page=note.section.is_article highlight=query only %}
{% endblock %}
