{% extends "base.html" %}

{% load humanize %}
{% load markdown_filter %}

{% block title %}{{ tag.slug }} [tag]{% endblock %}

{% block breadcrumbs %}
<div class="active section">View tag</div>
{% endblock %}

{% block content %}
<h1>
    <span class="ui big {{ tag.colour }} label">
        {{ tag.slug }}
    </span>
</h1>
<p>
    {{ tag.description }}
    <a href="{% url 'admin:books_tag_change' tag.pk %}">
        <i class="edit icon"></i>
    </a>
</p>
<div class="ui divider"></div>

{% include "pagination.html" with items=notes only %}

<div class="ui grid">
    {% include 'note_list_with_books.html' with notes=notes %}
</div>

{% include "pagination.html" with items=notes only %}
{% endblock %}
