#masthead {
    text-align: center;
    margin: 50px 0;
}

#masthead h1 {
    font-size: 3.0em;
}

.ui.comments {
    max-width: none;
}

.ui.comments .comment .avatar {
    text-align: center;
}

.left-floated {
    float: left;
}

blockquote footer {
    text-align: right;
    font-style: italic;
}

.ui.horizontal.segments .ui.segment {
    min-width: 150px; /* otherwise words extend beyond the edge */
}

.hidden {
    display: none;
}

.highlight {
    background: #eab18a;
}

.book-card {
    padding: 0 !important;
}

.book-card .image {
    padding-right: 15px;
}

.book-card h3 {
    margin-top: 15px !important;
    padding-right: 15px !important;
}

.ui.compact.grid>.row {
    padding: 0;
}

blockquote {
    border-left: 5px solid #ddd;
    padding-left: 10px;
}
