{% extends "base.html" %}

{% block breadcrumbs %}
<a class="section" href="{% url 'view_book' book.pk %}">View book</a>
<i class="right angle icon divider"></i>
<div class="active section">Add term</div>
{% endblock %}

{% block content %}
{% include 'book_header.html' with book=book only %}

<div class="ui divider"></div>

{% with num_terms=book.terms.count %}
{% if num_terms %}
<h3>
    Recent terms ({{ num_terms }} total)
    ::
    <a href="{% url 'view_terms' book.pk %}">View all &raquo;</a>
</h3>
<div class="ui celled two column grid">
    <div class="column">
        {% include 'term_snippets.html' with terms=recent_terms_1 only %}
    </div>
    <div class="column">
        {% include 'term_snippets.html' with terms=recent_terms_2 only %}
    </div>
</div>
{% else %}
<div class="ui warning message">
    <div class="header">
        No terms yet!
    </div>
</div>
{% endif %}
{% endwith %}

<form class="ui form" method="post">
    <div class="ui segment">
        {% csrf_token %}
        <div class="ui fields">
            {% with error=term_form.text.errors %}
            <div class="eight wide {% if error %}error{% endif %} field">
                <label>Term{% if error %} (REQUIRED){% endif %}</label>
                {{ term_form.text }}
            </div>
            {% endwith %}
            {% with error=term_form.language.errors %}
            <div class="five wide {% if error %}error{% endif %} field">
                <label>Language{% if error %} (REQUIRED){% endif %}</label>
                {{ term_form.language }}
            </div>
            {% endwith %}
            <div class="three wide field">
                <label>&nbsp;</label>
                <button class="ui fluid blue icon button"
                        type="button"
                        onclick="fetchDefinition()">
                    <i class="translate icon"></i> Fetch definition
                </button>
            </div>
        </div>
        <div class="ui horizontal divider">
            <a id="link_button" class="ui disabled button">
                View term
                <span id="occurrences_count"></span>
            </a>
        </div>
        <div class="ui fields">
            {% with error=term_form.definition.errors %}
            <div class="{% if error %}error{% endif %} twelve wide field">
                <label>
                    Definition{% if error %} (REQUIRED){% endif %}
                </label>
                {{ term_form.definition }}
            </div>
            {% endwith %}
            {% with error=term_form.highlights.errors %}
            <div class="{% if error %}error{% endif %} four wide field">
                <label>
                    Highlights{% if error %} (REQUIRED){% endif %}
                </label>
                {{ term_form.highlights }}
            </div>
            {% endwith %}
        </div>
    </div>
    <div class="ui segment">
        <div class="ui three column grid">
            <div class="column">
                <div class="ui fields">
                    <div class="twelve wide field">
                        <label>Author</label>
                        {{ occurrence_form.author }}
                    </div>
                    {% with error=occurrence_form.page_number.errors %}
                    <div class="four wide {% if error %}error{% endif %} field"
                         {% if error %}title="{{ error|join:"/" }}"{% endif %}>
                        <label>Page</label>
                        {{ occurrence_form.page_number }}
                    </div>
                    {% endwith %}
                </div>
                <div class="ui fields">
                    {% with error=occurrence_form.category.errors %}
                    <div class="eight wide {% if error %}error{% endif %} field">
                        <label>Category{% if error %} (REQUIRED){% endif %}</label>
                        {{ occurrence_form.category }}
                    </div>
                    {% endwith %}
                    <div class="four wide field">
                        <label>New?</label>
                        {{ occurrence_form.is_new }}
                    </div>
                    <div class="four wide field">
                        <label>Defined?</label>
                        {{ occurrence_form.is_defined }}
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label>Quote</label>
                    {{ occurrence_form.quote }}
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label>Comments</label>
                    {{ occurrence_form.comments }}
                </div>
            </div>
        </div>
        <div class="ui basic center aligned segment">
            <button type="submit" name="submit"
                    class="ui blue button">
                Submit
            </button>
        </div>
    </div>
</form>
{% endblock %}
