{% extends "base.html" %}

{% block breadcrumbs %}
<a class="section" href="{% url 'view_book' book.pk %}">View book</a>
<i class="right angle icon divider"></i>
<div class="active section">Add note</div>
{% endblock %}

{% block content %}
{% include 'book_header.html' with book=book only %}

<div class="ui divider"></div>
{% with num_notes=book.notes.count %}
{% if num_notes %}
<h3>
    Recent notes ({{ num_notes }} total)::
    <a href="{% url 'view_notes' book.pk %}">View all &raquo;</a>
</h3>
<div class="ui celled two column grid">
    <div class="column">
        {% include 'note_snippets.html' with notes=recent_notes_1 only %}
    </div>
    <div class="column">
        {% include 'note_snippets.html' with notes=recent_notes_2 only %}
    </div>
</div>
{% else %}
<div class="ui warning message">
    <div class="header">
        No notes yet!
    </div>
</div>
{% endif %}
{% endwith %}

<div class="ui segment">
    <form class="ui form" method="post">
        {% csrf_token %}
        <div class="ui fields">
            {% with error=form.subject.errors %}
            <div class="eleven wide {% if error %}error{% endif %} field">
                <label>Subject{% if error %} (REQUIRED){% endif %}</label>
                {{ form.subject }}
            </div>
            {% endwith %}
            <div class="four wide field">
                <label>Author</label>
                {{ form.author }}
            </div>
            {% with error=form.page_number.errors %}
            <div class="one wide {% if error %}error{% endif %} field"
                 {% if error %}title="{{ error|join:"/" }}"{% endif %}>
                <label>Page</label>
                {{ form.page_number }}
            </div>
            {% endwith %}
        </div>
        <div class="ui two fields">
            <div class="field">
                <label>Quote</label>
                {{ form.quote }}
            </div>
            <div class="field">
                <label>Comment</label>
                {{ form.comment }}
            </div>
        </div>
        <div class="ui basic center aligned segment">
            <button type="submit" name="submit"
                    class="ui blue button">
                Submit
            </button>
        </div>
    </form>
</div>
{% endblock %}
