{% extends "base.html" %}

{% block breadcrumbs %}
<a class="section" href="{% url 'view_book' book.pk %}">View book</a>
<i class="right angle icon divider"></i>
<div class="active section">Add section</div>
{% endblock %}

{% block content %}
<div class="ui grid">
    <div class="fourteen wide column">
        {% include 'book_header.html' with book=book only %}
    </div>
    <div class="two wide column">
        <form method="post" action="{% url 'mark_complete' book.id %}">
            {% csrf_token %}
            <button class="ui fluid green icon button"
                    name="mode"
                    value="sections">
                <i class="check icon"></i> Done
            </button>
        </form>
    </div>
</div>

<div class="ui divider"></div>

<div class="ui segment">
    <form class="ui form" method="post">
        {% csrf_token %}
        <div class="ui fields">
            {% with error=section_form.title.errors %}
            <div class="five wide {% if error %}error{% endif %} field">
                <label>Title{% if error %} (REQUIRED){% endif %}</label>
                {{ section_form.title }}
            </div>
            {% endwith %}
            <div class="five wide field">
                <label>Subtitle</label>
                {{ section_form.subtitle }}
            </div>
            {% with error=section_form.page_number.errors %}
            <div class="one wide {% if error %}error{% endif %} field"
                 {% if error %}title="{{ error|join:"/" }}"{% endif %}>
                <label>Page</label>
                {{ section_form.page_number }}
            </div>
            {% endwith %}
            {% with error=author_form.mode.errors %}
            <div class="two wide {% if error %}error{% endif %} field"
                 {% if error %}title="{{ error|join:"/" }}"{% endif %}>
                <label>Author mode</label>
                {{ author_form.mode }}
            </div>
            {% endwith %}
            <div class="three wide field">
                <label>Author</label>
                {{ author_form.author }}
            </div>
        </div>
        <div class="field">
            <label>Summary</label>
            {{ section_form.summary }}
        </div>
        <div class="ui basic center aligned segment">
            <button type="submit" name="submit"
                    class="ui blue button">
                Submit
            </button>
        </div>
    </form>
</div>

{% with count=book.sections.count %}
{% if count %}
<h3>
    Existing sections ({{ count }} total)
</h3>
{% include 'section_list.html' with sections=book.sections.all only %}
{% else %}
<div class="ui warning message">
    <div class="header">
        No sections yet!
    </div>
</div>
{% endif %}
{% endwith %}

{% endblock %}
