<!DOCTYPE html>
<html>
<head>
    <title>Bookmarker</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.css" />
    <link rel="stylesheet" href="/static/styles.css" />
    <link rel="apple-touch-icon-precomposed" href="/static/favicon-152.png">
    <link rel="icon" href="/static/favicon-32.png" sizes="32x32">
    <link rel="icon" href="/static/favicon-16.png" sizes="32x32">
</head>
<body>
    <div class="ui container">
        <br />
        <div class="ui huge menu">
            <div class="item">
                <img class="ui image" src="/static/bookmarker.png" alt="Bookmarker" />
            </div>
            <div class="item">
                <a href="{% url 'home' %}">Home</a>
            </div>
            <div class="item">
                <a href="{% url 'view_all_authors' %}">Authors</a>
            </div>
            <div class="item">
                <a href="{% url 'view_all_terms' %}">Terms</a>
            </div>
            <div class="item">
                <a href="{% url 'view_all_notes' %}">Notes</a>
            </div>
            <div class="item">
                <a href="{% url 'admin:index' %}">Admin</a>
            </div>
            <div class="right menu">
                <div class="item">
                    <div class="ui icon input">
                        <input type="text" placeholder="Search...">
                        <i class="search icon"></i>
                    </div>
                </div>
            </div>
        </div>

        {% for message in messages %}
        <div class="ui {{ message.tags }} icon message">
            {% if message.level > 25 %}
            <i class="warning sign icon"></i>
            {% else %}
            <i class="checkmark icon"></i>
            {% endif %}
            <div class="header">{{ message }}</div>
        </div>
        {% endfor %}

        <div class="ui basic segment">
            {% block nobreadcrumbs %}
            <div class="ui breadcrumb">
                <a class="section" href="{% url 'home' %}">Home</a>
                <i class="right angle icon divider"></i>
                {% block breadcrumbs %}
                {% endblock %}
            </div>
            {% endblock %}
        </div>

        {% if not request.user.is_staff %}
        <div class="ui large message">
            <div class="header">Welcome to Bookmarker!</div>
            <p>
                This is a personal project by <a
                href="https://twitter.com/dellsystem">@dellsystem</a>. I built this to
                help me retain
                information from the books I'm reading. Currently can only be used by
                a single user (myself), but I plan to extend it to support multiple
                users eventually.</p>
            <p>
                Source code on <a
                href="https://github.com/dellsystem/bookmarker">GitHub</a>
                (MIT license).
            </p>
        </div>
        {% endif %}

        {% block content %}
        {% endblock %}
        <br />
    </div>
    <script src="/static/jquery.min.js" type="text/javascript"></script>
    <script src="/static/semantic.min.js" type="text/javascript"></script>
    <script src="/static/scripts.js" type="text/javascript"></script>
</body>
</html>
