{% if books %}
<div class="ui two column doubling grid">
    {% for book in books %}
    <div class="column">
        <div class="ui clearing segment book-card">
            <a href="{{ book.get_absolute_url }}">
                <img src="{{ book.image_url }}" class="ui rounded small left-floated image" />
            </a>
            <h3 class="ui header">
                <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
                <a href="{% url 'edit_book' book.slug %}">
                    <i class="edit icon"></i>
                </a>
                <div class="sub header">
                    {% if book.details %}
                    {% include "author_list.html" with authors=book.details.default_authors %}
                    {% else %}
                    (publication)
                    {% endif %}
                </div>
            </h3>
            {% if book.details %}
            {% with admin=request.user.is_staff %}
            <p>
                {% if admin %}
                    {% if book.details.isbn %}
                    <code>{{ book.details.isbn }}</code>
                    {% else %}
                    <span class="ui red label">ISBN?</span>
                    {% endif %}
                {% endif %}
                {% if book.details.publisher %}
                {{ book.details.publisher }},
                {% elif admin %}
                <span class="ui red label">Publisher?</span>,
                {% endif %}
                {% if book.details.year %}
                {{ book.details.year }}.
                {% elif admin %}
                <span class="ui red label">Year?</span>.
                {% endif %}
                {% if book.details.num_pages %}
                {{ book.details.num_pages }} pages.
                {% elif admin %}
                <span class="ui red label">Pages?</span>.
                {% endif %}
                {% if admin %}
                    {% if book.details.verified %}
                    <i class="checkmark icon" title="Publication details verified"></i>
                    {% else %}
                    <span class="ui red label">Unverified</span>
                    {% endif %}
                {% endif %}
            </p>
            {% endwith %}
            {% endif %}
            {% if book.comments %}
            <code>{{ book.comments }}</code>
            <br />
            <br />
            {% endif %}
            <div class="ui labels">
                <a class="ui label" href="{% url 'view_terms' book.slug %}">
                    <i class="flag icon"></i> {{ book.num_terms }}
                </a>
                <a class="ui label" href="{% url 'view_notes' book.slug %}">
                    <i class="sticky note icon"></i> {{ book.num_notes }}
                </a>
                {% if book.details %}
                <div class="ui label">
                    <div class="ui heart rating display-rating"
                         data-rating="{{ book.details.rating }}">
                    </div>
                </div>
                    {% if book.details.start_date and book.details.end_date %}
                    <div class="ui label">
                        {{ book.details.start_date }} - {{ book.details.end_date }}
                    </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="ui message">
    No books!
</div>
{% endif %}
