{% load highlight_filter %}

<h2 class="ui header">
    <div class="content">
        <a href="{{ book.get_absolute_url }}">
            {% if highlight %}
            {{ book.title|highlight_term:highlight }}
            {% else %}
            {{ book.title }}
            {% endif %}
        </a>
        <div class="sub header">
            {% include 'author_list.html' with authors=book.default_authors only %}
            <div class="ui rating display-rating"
                 data-rating="{{ book.rating }}">
            </div>
        </div>
    </div>
</h2>
