{% extends "base.html" %}

{% block breadcrumbs %}
<a class="section" href="{{ book.get_absolute_url }}">View book</a>
<i class="right angle icon divider"></i>
<div class="active section">Edit book</div>
{% endblock %}

{% block content %}
<div class="ui grid">
    <div class="thirteen wide column">
        {% include 'book_header.html' with book=book only %}
    </div>
    <div class="three wide center aligned column">
        <a href="{% url 'admin:books_book_change' book.pk %}"
           class="ui fluid blue icon button">
           <i class="edit icon"></i>
           Edit in admin
        </a>
    </div>
</div>

<div class="ui divider"></div>

<div class="ui segment">
    <form class="ui form" method="post">
        {% csrf_token %}
        <div class="ui fields">
            <div class="two wide field">
                <label>Goodreads ID</label>
                {{ form.goodreads_id }}
            </div>
            <div class="fourteen wide field">
                <label>Goodreads link</label>
                {{ form.link }}
            </div>
        </div>
        {% with error=form.image_url.errors %}
        <div class="{% if error %}error{% endif %} field">
            <label>Image URL{% if error %} (REQUIRED){% endif %}</label>
            {{ form.image_url }}
        </div>
        {% endwith %}
        {% with error=form.default_authors.errors %}
        <div class="{% if error %}error{% endif %} field">
            <label>Default author(s){% if error %} (REQUIRED){% endif %}</label>
            {{ form.default_authors }}
        </div>
        {% endwith %}
        <div class="ui fields">
            <div class="one wide field">
                <label>Processed</label>
                    {{ form.is_processed }}
                </label>
            </div>
            <div class="two wide field">
                <label>Completed sections</label>
                    {{ form.completed_sections }}
                </label>
            </div>
            <div class="one wide field">
                <label>Read</label>
                    {{ form.completed_read }}
                </label>
            </div>
            <div class="one wide field">
                <label>Pages</label>
                    {{ form.has_pages }}
                </label>
            </div>
            <div class="three wide field">
                <label>ISBN</label>
                    {{ form.isbn }}
                </label>
            </div>
            <div class="three wide field">
                <label>Publisher</label>
                    {{ form.publisher }}
                </label>
            </div>
            <div class="two wide field">
                <label>Year</label>
                    {{ form.year }}
                </label>
            </div>
            <div class="two wide field">
                <label>Number of pages</label>
                    {{ form.num_pages }}
                </label>
            </div>
            <div class="one wide field">
                <label>Verified</label>
                    {{ form.verified }}
                </label>
            </div>
        </div>
        <div class="ui two fields">
            <div class="field">
                <label>Summary</label>
                {{ form.summary }}
            </div>
            <div class="field">
                <label>Comments</label>
                {{ form.comments }}
            </div>
        </div>
        <div class="ui fields">
            <div class="eight wide field">
                <label>Source URL</label>
                {{ form.source_url }}
            </div>
            <div class="two wide field">
                <label>Rating</label>
                {% if book.goodreads_id %}
                <div class="ui heart rating display-rating" data-rating="{{ book.rating }}">
                </div>
                <input type="hidden" name="rating" value="{{ book.rating }}" />
                {% else %}
                TODO
                {% endif %}
            </div>
            <div class="three wide field">
                <label>Start date</label>
                {{ form.start_date }}
            </div>
            <div class="three wide field">
                <label>End date</label>
                {{ form.end_date }}
            </div>
        </div>
        <div class="ui basic center aligned segment">
            <button type="submit" name="submit"
                    class="ui blue button">
                Submit
            </button>
        </div>
    </form>
</div>

{% endblock %}
