{% extends "base.html" %}

{% block breadcrumbs %}
<a class="section" href="{% url 'view_book' book.pk %}">View book</a>
<i class="right angle icon divider"></i>
<a class="section" href="{{ note.get_absolute_url }}">View note</a>
<i class="right angle icon divider"></i>
<div class="active section">Edit</div>
{% endblock %}

{% block content %}
<div class="ui grid">
    <div class="thirteen wide column">
        {% include 'book_header.html' with book=book only %}
    </div>
    <div class="three wide center aligned column">
        <a href="{% url 'admin:books_note_change' note.pk %}"
           class="ui fluid blue icon button">
           <i class="edit icon"></i>
           Edit in admin
        </a>
    </div>
</div>

<div class="ui divider"></div>

{% include "note_form.html" %}
{% endblock %}
