{% extends "base.html" %}

{% block nobreadcrumbs %}{% endblock %}

{% block content %}
<div class="ui grid">
    <div class="nine wide column">
        <div class="ui segment">
            <div class="ui three mini statistics">
                <div class="statistic">
                    <div class="value">
                        {{ started_books.count }}
                    </div>
                    <div class="label">
                        <a href="#started_books">In progress</a>
                    </div>
                </div>
                <div class="statistic">
                    <div class="value">
                        {{ new_books.count }}
                    </div>
                    <div class="label">
                        <a href="#new_books">New</a>
                    </div>
                </div>
                <div class="statistic">
                    <div class="value">
                        {{ done_books.count }}
                    </div>
                    <div class="label">
                        <a href="#done_books">Done</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="seven wide column">
        <div class="ui segment">
            <form method="post" action="{% url 'add_book' %}">
                <div class="ui fluid labeled action input">
                    <div class="ui label">GoodReads ID</div>
                    <input type="text" name="goodreads_id" />
                    <button type="submit" class="ui green button">Add book</button>
                </div>
                {% csrf_token %}
            </form>
        </div>
    </div>
</div>
<br />
<h2 id="started_books">In progress</h2>
{% include 'book_list.html' with books=started_books only %}

<h2 id="new_books">New</h2>
{% include 'book_list.html' with books=new_books only %}

<h2 id="done_books">Done</h2>
{% include 'book_list.html' with books=done_books only %}
{% endblock %}
