{% load markdown_filter %}
{% load highlight_filter %}

<div class="ui vertically padded grid">
    <div class="one wide column">
        <i class="big yellow sticky note icon"></i>
    </div>
    <div class="twelve wide column">
        <h2 class="ui header">
            <div class="content">
                {% if hide_link %}
                {{ note.subject|markdownify_title }}
                {% else %}
                <a href="{{ note.get_absolute_url }}">
                    {% if highlight %}
                    {{ note.subject|markdownify_title|highlight_term:highlight }}
                    {% else %}
                    {{ note.subject|markdownify_title }}
                    {% endif %}
                </a>
                {% endif %}
                <a href="{% url 'edit_note' note.pk %}">
                    <i class="edit icon"></i>
                </a>
            </div>
        </h2>
    </div>
    <div class="three wide right aligned column">
        {% for tag in note.tags.all %}
        <a class="ui {{ tag.colour }} label" title="{{ tag.description }}"
           href="{{ tag.get_absolute_url }}">
            {{ tag.slug }}
        </a>
        {% endfor %}
    </div>
</div>
