{% load humanize %}
{% load markdown_filter %}

<div class="row">
    <div class="column">
        {% include 'note_header.html' with note=x highlight=highlight only %}
    </div>
</div>
<div class="computer only row">
    <div class="one wide column">
        <div class="ui big circular label">
            {{ x.get_page_display }}
        </div>
    </div>
    <div class="fifteen wide column">
        {% include 'note_body.html' with note=x highlight=highlight hide_section=hide_section hide_page=True only %}
    </div>
</div>
<div class="mobile tablet only row">
    <div class="sixteen wide column">
        {% include 'note_body.html' with note=x highlight=highlight hide_section=hide_section %}
    </div>
</div>
