{% if author %}
<div class="ui center aligned success message">
    <h3 class="header">
        Showing terms by
        <a href="{{ author.get_absolute_url }}">
            {{ author }}
        </a>
        only
    </h3>
</div>
{% endif %}

<div class="ui center aligned basic segment">
    <div class="ui right pagination menu">
        {% if items.has_previous %}
        <a class="item"
           title="First"
           href="?page=1{% if author %}&author={{ author.pk }}{% endif %}">
        {% else %}
        <a class="disabled item">
        {% endif %}
        <i class="double left angle icon"></i></a>

        {% if items.has_previous %}
        <a class="item"
           title="Previous"
           href="?page={{ items.previous_page_number }}{% if author %}&author={{ author.pk }}{% endif %}">
        {% else %}
        <a class="disabled item">
        {% endif %}
        <i class="left angle icon"></i></a>

        <a class="active item">
            {{ items.number }} of {{ items.paginator.num_pages }}
        </a>

        {% if items.has_next %}
        <a class="item"
           title="Next"
           href="?page={{ items.next_page_number }}{% if author %}&author={{ author.pk }}{% endif %}">
        {% else %}
        <a class="disabled item">
        {% endif %}
        <i class="angle right icon"></i></a>

        {% if items.has_next %}
        <a class="item"
           title="Last"
           href="?page={{ items.paginator.num_pages }}{% if author %}&author={{ author.pk }}{% endif %}">
        {% else %}
        <a class="disabled item">
        {% endif %}
        <i class="angle double right icon"></i></a>
    </div>
</div>
