{% load lookup_filter %}


{% with count=results|lookup:key|length %}
<div class="ui two column grid">
    <div class="column">
        <h3>{{ key|title }} ({{ count }})</h3>
    </div>
    {% if count %}
    <div class="right aligned column">
        {% if mode == key %}
        <a href="{{ qs }}" class="ui blue icon button">
            <i class="large minus icon"></i>
        </a>
        {% else %}
        <a href="{{ qs }}&mode={{ key }}" class="ui basic blue icon button">
            <i class="large plus icon"></i>
        </a>
        {% endif %}
    </div>
    {% endif %}
</div>
{% endwith %}
