<div class="ui middle aligned divided list">
    {% for section in sections %}
    <div class="item">
        <div class="left floated content">
            <div title="Summary"
                 class="ui icon {% if not section.summary %}red{% endif %} label">
                <i class="browser icon"></i>
            </div>
        </div>
        <div class="right floated content">
            <div class="ui large circular label">{{ section.get_page_display }}</div>
        </div>
        <div class="content">
            <div class="header">
                <a href="{{ section.get_absolute_url }}">{{ section.title }}</a>
                <a href="{% url 'admin:books_section_change' section.pk %}">
                    <i class="edit icon"></i>
                </a>
            </div>
            {{ section.subtitle }}
            {% if section.authors.count %}
                {% if not section.has_default_authors %}
                {% include 'author_list.html' with authors=section.authors %}
                {% endif %}
            {% else %}
            (missing author)
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
