{% load markdown_filter %}


<br />
<div class="ui vertically divided compact grid">
    {% for section in sections %}
    <div class="computer only row">
        <div class="one wide column">
            <div class="ui large circular label">{{ section.get_page_display }}</div>
        </div>
        <div class="eleven wide column">
            <h4 class="ui header">
                <a href="{{ section.get_absolute_url }}">
                    {{ section.title|markdownify_title }}
                </a>
                <div class="ui heart rating display-rating" data-rating="{{ section.rating }}">
                </div>
                {% if section.source_url %}
                <a href="{{ section.source_url }}">
                    <i class="external icon"></i>
                </a>
                {% endif %}
                <div class="sub header">
                    {{ section.subtitle|markdownify_title }}
                    {% if section.authors.count %}
                        {% if not section.has_default_authors %}
                        {% include 'author_list.html' with authors=section.authors %}
                        {% endif %}
                    {% else %}
                    (missing author)
                    {% endif %}
                </div>
            </h4>
            {% if section.summary %}
            {{ section.summary|markdownify }}
            {% endif %}
        </div>
        <div class="three wide right aligned column">
            {{ section.terms.count }} <i class="flag icon"></i>
            /
            {{ section.notes.count }} <i class="sticky note icon"></i>
        </div>
        <div class="one wide right aligned column">
            <a class="ui mini icon {% if not section.summary %}red{% endif %} button"
               href="{% url 'edit_section' section.pk %}">
                <i class="edit icon"></i>
            </a>
        </div>
    </div>
    <div class="tablet mobile only row">
        <div class="three wide column">
            <div class="ui large circular label">{{ section.get_page_display }}</div>
        </div>
        <div class="thirteen wide column">
            <h4 class="ui header">
                <a href="{{ section.get_absolute_url }}">
                    {{ section.title|markdownify_title }}
                </a>
                <div class="ui heart rating display-rating" data-rating="{{ section.rating }}">
                </div>
                {% if section.source_url %}
                <a href="{{ section.source_url }}">
                    <i class="external icon"></i>
                </a>
                {% endif %}
                <div class="sub header">
                    {{ section.subtitle|markdownify_title }}
                    {% if section.authors.count %}
                        {% if not section.has_default_authors %}
                        {% include 'author_list.html' with authors=section.authors %}
                        {% endif %}
                    {% else %}
                    (missing author)
                    {% endif %}
                </div>
            </h4>
            {% if section.summary %}
            {{ section.summary|markdownify }}
            {% endif %}
            {{ section.terms.count }} <i class="flag icon"></i>
            /
            {{ section.notes.count }} <i class="sticky note icon"></i>
            <a class="ui mini icon {% if not section.summary %}red{% endif %} button"
               href="{% url 'edit_section' section.pk %}">
                <i class="edit icon"></i>
            </a>
        </div>
    </div>
    {% endfor %}
</div>
