{% extends "base.html" %}

{% load humanize %}
{% load markdown_filter %}

{% block breadcrumbs %}
<a class="section" href="{{ book.get_absolute_url }}">View book</a>
<i class="right angle icon divider"></i>
<a class="section" href="{% url 'view_notes' book.pk %}">View notes</a>
<i class="right angle icon divider"></i>
<div class="active section">View note</div>
{% endblock %}

{% block content %}
<div class="ui grid">
    <div class="row">
        <div class="fourteen wide column">
            {% include 'book_header.html' with book=book only %}
        </div>
        <div class="two wide column">
            <a class="ui green icon button" href="{% url 'add_note' book.pk %}">
                <i class="plus icon"></i>
                Add note
            </a>
        </div>
    </div>
</div>
<div class="ui divider"></div>

<div class="ui grid">
    {% include 'note_display.html' with x=note hide_link=True only %}
</div>
{% endblock %}
