{% extends "base.html" %}

{% block breadcrumbs %}
<div class="active section">View book</div>
{% endblock %}

{% block content %}
<div class="ui stackable grid">
    <div class="thirteen wide column">
        <h2 class="ui header">
            {{ book.title }}
            <a href="{% url 'admin:books_book_change' book.pk %}">
                <i class="edit icon"></i>
            </a>
            <div class="sub header">
                {% include 'author_list.html' with authors=book.default_authors only %}
            </div>
        </h2>
    </div>
    <div class="three wide center aligned column">
        {% if not book.is_processed %}
        <form method="post" action="{% url 'mark_complete' book.id %}">
        {% csrf_token %}
        {% if not book.completed_sections %}
            <div class="ui fluid buttons">
                <a class="ui blue icon button" href="{% url 'add_section' book.pk %}">
                    <i class="plus icon"></i> Add section
                </a>
                <button class="ui green icon button"
                        name="mode"
                        value="sections">
                    <i class="check icon"></i> Done
                </button>
            </div>
        {% else %}
            <button class="ui fluid black icon button"
                    title="Summaries can be omitted"
                    name="mode"
                    value="processed"
                    type="submit">
               <i class="check icon"></i> Mark as processed
            </button>
        {% endif %}
        </form>
        {% else %}
        <div class="ui large fluid green basic button">
            Done
        </div>
        {% endif %}
    </div>
</div>
<div class="ui divider"></div>
<div class="ui stackable grid">
    <div class="four wide column">
        <a href="{{ book.link }}">
            <img src="{{ book.image_url }}"
                 class="ui fluid image"
                 title="{{ book.title }}" />
        </a>
        <br />
        <div style="text-align: center">
            <a class="ui icon label" title="Terms" href="#terms">
                <i class="flag icon"></i> {{ book.terms.count }}
            </a>
            <a class="ui icon label" title="Notes" href="#notes">
                <i class="sticky note icon"></i> {{ book.notes.count }}
            </a>
            <div class="ui icon label" title="Sections">
                <i class="angle right icon"></i> {{ book.sections.count }}
            </div>
            {% with summary_pc=book.get_summary_percent %}
            <a class="ui {% if summary_pc < 100 %}red{% endif %} label"
               href="">
                <i title="Summaries: % completed" class="browser icon"></i>
                {{ summary_pc }}%
            </a>
            {% endwith %}
        </div>
        <br />
        {% if book.comments %}
        <div class="ui message">
            <code>{{ book.comments }}</code>
        </div>
        {% endif %}
        {% if book.source_url %}
        <br />
        <div style="text-align: center">
            <a href="{{ book.source_url }}">
                <i class="large external icon"></i>
            </a>
        </div>
        {% endif %}
    </div>
    <div class="twelve wide column">
        {% if book.completed_sections %}
        <div class="ui celled two column stackable grid">
            <div class="column" id="terms">
                {% with num_terms=book.terms.count %}
                {% if num_terms or not book.is_processed %}
                <div class="ui fluid buttons">
                    {% if num_terms %}
                    <a href="{% url 'view_terms' book.pk %}"
                       class="ui basic blue icon button">
                        <i class="list icon"></i>
                        View terms ({{ num_terms }})
                    </a>
                    {% endif %}
                    {% if not book.is_processed %}
                    <a href="{% url 'add_term' book.pk %}" class="ui blue icon button">
                        <i class="plus icon"></i> Add term
                    </a>
                    {% endif %}
                </div>
                {% endif %}
                {% if num_terms %}
                    {% include 'term_snippets.html' with terms=recent_terms show_page=book.has_pages only %}
                {% else %}
                <div class="ui warning message">
                    <div class="header">
                        No terms yet!
                    </div>
                </div>
                {% endif %}
                {% endwith %}
            </div>
            <div class="column" id="notes">
                {% with num_notes=book.notes.count %}
                {% if num_notes or not book.is_processed %}
                <div class="ui fluid buttons">
                    {% if num_notes %}
                    <a href="{% url 'view_notes' book.pk %}"
                       class="ui basic blue icon button">
                        <i class="list icon"></i>
                        View all {{ num_notes }} notes
                    </a>
                    {% endif %}
                    {% if not book.is_processed %}
                    <a href="{% url 'add_note' book.pk %}" class="ui blue icon button">
                        <i class="plus icon"></i> Add note
                    </a>
                    {% endif %}
                </div>
                {% endif %}
                {% if num_notes %}
                    {% include 'note_snippets.html' with notes=recent_notes show_page=book.has_pages only %}
                {% else %}
                <div class="ui warning message">
                    <div class="header">
                        No notes yet!
                    </div>
                </div>
                {% endif %}
                {% endwith %}
            </div>
        </div>
        {% else %}
        <div class="ui warning message">
            You must complete the sections before you can add terms or notes.
        </div>
        {% endif %}
        {% if book.sections.count %}
        {% include 'section_list.html' with sections=book.sections.all only %}
        {% endif %}
    </div>
</div>


{% endblock %}
