{% extends "base.html" %}

{% block breadcrumbs %}
<div class="active section">View book</div>
{% endblock %}

{% block content %}
<div class="ui stackable grid">
    <div class="thirteen wide column">
        <h2 class="ui header">
            {{ book.title }}
            <a href="{% url 'edit_book' book.slug %}">
                <i class="edit icon"></i>
            </a>
            {% if book.details %}
            <div class="sub header">
                {% include 'author_list.html' with authors=book.details.default_authors only %}
                <div class="ui rating display-rating"
                     data-rating="{{ book.details.rating }}">
                </div>
                {% if book.details.start_date and book.details.end_date %}
                {{ book.details.start_date }} - {{ book.details.end_date }}
                {% endif %}
            </div>
            {% endif %}
        </h2>
    </div>
    <div class="three wide center aligned column">
        {% if not book.is_processed %}
        <form method="post" action="{% url 'mark_complete' book.id %}">
        {% csrf_token %}
        {% if not book.completed_sections %}
            <div class="ui fluid buttons">
                <a class="ui blue icon button" href="{% url 'add_section' book.slug %}">
                    <i class="plus icon"></i> Add section
                </a>
                {% if book.details %}
                <button class="ui green icon button"
                        name="mode"
                        value="sections">
                    <i class="check icon"></i> Done
                </button>
                {% endif %}
            </div>
        {% else %}
            <button class="ui fluid black icon button"
                    title="Summaries can be omitted"
                    name="mode"
                    value="processed"
                    type="submit">
               <i class="check icon"></i> Mark as processed
            </button>
        {% endif %}
        </form>
        {% else %}
        <div class="ui large fluid green basic button">
            Done
        </div>
        {% endif %}
    </div>
</div>
<div class="ui divider"></div>
{% if book.summary %}
    <div class="ui message">
        {% load markdown_filter %}
        {{ book.summary|markdownify }}
    </div>
{% endif %}
<div class="ui stackable grid">
    <div class="four wide column">
        <a href="{{ book.link }}">
            <img src="{{ book.image_url }}"
                 class="ui fluid image"
                 title="{{ book.title }}" />
        </a>
        <br />
        <div style="text-align: center">
            {% if details %}
            <p>
                {% if details.isbn %}
                <code>{{ details.isbn }}</code>
                {% else %}
                <span class="ui red label">ISBN?</span>
                {% endif %}
            </p>
            <p>
                {% if details.publisher %}
                {{ details.publisher }},
                {% else %}
                <span class="ui red label">Publisher?</span>,
                {% endif %}
                {% if details.year %}
                {{ details.year }}.
                {% else %}
                <span class="ui red label">Year?</span>.
                {% endif %}
                {% if details.num_pages %}
                {{ details.num_pages }} pages.
                {% else %}
                <span class="ui red label">Pages?</span>.
                {% endif %}
                {% if details.verified %}
                <i class="checkmark icon"></i>
                {% else %}
                <span class="ui red label">Unverified</span>
                {% endif %}
            </p>
            {% endif %}
            <a class="ui icon label" title="Terms" href="#terms">
                <i class="flag icon"></i> {{ book.terms.count }}
            </a>
            <a class="ui icon label" title="Notes" href="#notes">
                <i class="sticky note icon"></i> {{ book.notes.count }}
            </a>
            <div class="ui icon label" title="Sections">
                <i class="angle right icon"></i> {{ book.sections.count }}
            </div>
        </div>
        <br />
        {% if book.comments %}
        <div class="ui message">
            <code>{{ book.comments }}</code>
        </div>
        {% endif %}
        {% if book.source_url %}
        <br />
        <div style="text-align: center">
            <a href="{{ book.source_url }}">
                <i class="large external icon"></i>
            </a>
        </div>
        {% endif %}
    </div>
    <div class="twelve wide column">
        {% if book.completed_sections or not book.details %}
        <div class="ui celled two column stackable grid">
            <div class="column" id="terms">
                {% with num_terms=book.terms.count %}
                {% if num_terms or not book.is_processed %}
                <div class="ui fluid buttons">
                    {% if num_terms %}
                    <a href="{% url 'view_terms' book.slug %}"
                       class="ui basic blue icon button">
                        <i class="list icon"></i>
                        View terms ({{ num_terms }})
                    </a>
                    {% endif %}
                    {% if not book.is_processed %}
                    <a href="{% url 'add_term' book.slug %}" class="ui blue icon button">
                        <i class="plus icon"></i> Add term
                    </a>
                    {% endif %}
                </div>
                {% endif %}
                {% if num_terms %}
                    {% include 'term_snippets.html' with terms=recent_terms show_page=book.has_pages only %}
                {% else %}
                <div class="ui warning message">
                    <div class="header">
                        No terms yet!
                    </div>
                </div>
                {% endif %}
                {% endwith %}
            </div>
            <div class="column" id="notes">
                {% with num_notes=book.notes.count %}
                {% if num_notes or not book.is_processed %}
                <div class="ui fluid buttons">
                    {% if num_notes %}
                    <a href="{% url 'view_notes' book.slug %}"
                       class="ui basic blue icon button">
                        <i class="list icon"></i>
                        View all {{ num_notes }} notes
                    </a>
                    {% endif %}
                    {% if not book.is_processed %}
                    <a href="{% url 'add_note' book.slug %}" class="ui blue icon button">
                        <i class="plus icon"></i> Add note
                    </a>
                    {% endif %}
                </div>
                {% endif %}
                {% if num_notes %}
                    {% include 'note_snippets.html' with notes=recent_notes show_page=book.has_pages only %}
                {% else %}
                <div class="ui warning message">
                    <div class="header">
                        No notes yet!
                    </div>
                </div>
                {% endif %}
                {% endwith %}
            </div>
        </div>
        {% else %}
        <div class="ui warning message">
            You must complete the sections before you can add terms or notes.
        </div>
        {% endif %}
        {% if book.sections.count %}
        {% include 'section_list.html' with sections=sections hide_book=True only %}
        {% endif %}
    </div>
</div>


{% endblock %}
