{% extends "base.html" %}

{% block breadcrumbs %}
<div class="active section">View all terms</div>
{% endblock %}

{% block content %}
<h2>View all terms</h2>

<div class="ui divider"></div>

{% include "pagination.html" with items=occurrences author=author only %}

{% regroup occurrences by term as term_list %}

{% for term in term_list %}
    {% include 'term_header.html' with term=term.grouper only %}
    {% include 'term_list_with_books.html' with occurrences=term.list only %}
{% endfor %}

{% include "pagination.html" with items=terms author=author only %}

{% endblock %}
